// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';


@import 'patterns/colours';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

@import 'patterns/user-details-form';
@import 'patterns/ods-search-form';
@import 'patterns/back-arrows';
@import 'patterns/nhs-footer';
@import 'patterns/nhs-header';


// Add extra styles here, or re-organise the Sass files
// in whichever way makes most sense to you




/* NHS specific styles */
/* - - - - - - - - - - */

strong {
  font-weight: 600;
}

/*  Overide the GDS Transport *everywhere*  */
@import url('//fast.fonts.net/cssapi/4c65968f-c33e-4eb6-9a5d-ab4f81a0543f.css');

* {
  font-family: "Neue Frutiger W01", sans-serif !important;
}

// For offline / train dev:
//$family: "Frutiger Neue", "Frutiger", sans-serif;
#global-header #logo {
  background: none;
}


@media screen and (max-width: 767px) {
.hide-mobile {
  display: none;
  }
}
/* overide styles on the header nav */
@import 'global-header-override';



