// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';


@import 'patterns/colours';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/back-arrows';
@import 'patterns/nhs-footer';
@import 'patterns/nhs-header';


@import 'patterns/user-details-form';
@import 'patterns/ods-search-form';
@import 'patterns/ods-review-items';
@import 'patterns/ods-edit-items';

@import 'patterns/choices';



// Add extra styles here, or re-organise the Sass files
// in whichever way makes most sense to you




/* NHS specific styles */
/* - - - - - - - - - - */

strong {
  font-weight: 600;
}

/*  Overide the GDS Transport *everywhere*  */
//@import url('//fast.fonts.net/cssapi/4c65968f-c33e-4eb6-9a5d-ab4f81a0543f.css');

@font-face
{ font-family:"Frutiger W01"; src:url("https://assets.nhs.uk/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix"); src:url("https://assets.nhs.uk/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot"), url("https://assets.nhs.uk/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"), url("https://assets.nhs.uk/fonts/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff"), url("https://assets.nhs.uk/fonts/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") format("truetype"), url("https://assets.nhs.uk/fonts/7def0e34-f28d-434f-b2ec-472bde847115.svg") format("svg"); font-weight: 400; font-style: normal; }
@font-face
{ font-family:"Frutiger W01"; src:url("https://assets.nhs.uk/fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix"); src:url("https://assets.nhs.uk/fonts/eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot"), url("https://assets.nhs.uk/fonts/8c92eb68-ce37-4962-a9f4-5b47d336bd1c.woff2") format("woff2"), url("https://assets.nhs.uk/fonts/9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff"), url("https://assets.nhs.uk/fonts/5dae3a6e-9b07-4c2f-aed2-1f5b8951261b.ttf") format("truetype"), url("https://assets.nhs.uk/fonts/eae74276-dd78-47e4-9b27-dac81c3411ca.svg") format("svg"); font-weight: 700; font-style: normal; }
@font-face
{ font-family:"Frutiger W01"; src:url("https://assets.nhs.uk/fonts/fb1e4ad2-83fa-4735-aa1b-900f4a36749f.eot?#iefix"); src:url("https://assets.nhs.uk/fonts/fb1e4ad2-83fa-4735-aa1b-900f4a36749f.eot?#iefix") format("eot"), url("https://assets.nhs.uk/fonts/221b3252-186e-4a32-a90b-cc0c3a4817d7.woff2") format("woff2"), url("https://assets.nhs.uk/fonts/a061c7a6-3b14-451e-883c-0f1661ac3d76.woff") format("woff"), url("https://assets.nhs.uk/fonts/558394f3-8981-4be9-8a8a-c23488eb9b6d.ttf") format("truetype"), url("https://assets.nhs.uk/fonts/1c437efb-925e-4bc5-96d0-c706bb400696.svg") format("svg"); font-weight: 800; font-style: normal; }

* {
  font-family: "Frutiger W01", sans-serif !important;
}

// For offline / train dev:
//$family: "Frutiger Neue", "Frutiger", sans-serif;


#global-header #logo {
  background: none;
}


@media screen and (max-width: 767px) {
.hide-mobile {
  display: none;
  }
}
/* overide styles on the header nav */
@import 'global-header-override';



