// Persona pages have some nicer styles


#persona-pic-mary {
  background-image: url('/public/images/cutout-mary.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
  display: block;
  height: 100%;
  border-bottom: 4px solid #0072ce;
}
#persona-pic-debbie {
  background-image: url('/public/images/cutout-debbie.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
  display: block;
  height: 100%;
  border-bottom: 4px solid #0072ce;
}
#persona-pic-peter {
  background-image: url('/public/images/cutout-peter.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
  display: block;
  height: 100%;
  border-bottom: 4px solid #0072ce;
}


.persona-quote {
  background-image: url('/public/images/persona-quotemark.png');
  background-repeat: no-repeat;
  background-size: 3.6em 3.6em;
  padding-top: 2.6em;
  font-weight: 600;
  font-size: 1.4em;
  color: #005eb8;
  max-width: 360px;
  margin-left: 1em;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.persona-table {
  margin-top: 1.6em;
}
.persona-table th {
  font-size: 24px;
}
.persona-table td {
  vertical-align: top;
  padding-bottom: 1em;
}


.persona-success {
line-height: 1.6;
padding-bottom: 2.6em;
background-image: url('/public/images/persona-quotemark-end.png');
  background-repeat: no-repeat;
  background-size: 3.6em 3.6em;
  background-position: bottom right;
}


@media screen and (max-width: 767px) {
.persona-table th {
  font-size: 18px;
}
.persona-quote {
  background-image: url('/public/images/persona-quotemark.png');
  background-repeat: no-repeat;
  background-size: 2.6em 2.6em;
  padding-top: 2em;
  font-weight: 600;
  font-size: 1.2em;
  max-width: 60%;
  margin: 2em 0;
}
.persona-success {
padding-bottom: 2.5em;
background-image: url('/public/images/persona-quotemark-end.png');
  background-repeat: no-repeat;
  background-size: 3.2em 3.2em;
  background-position: bottom right;
}



}





@media screen and (max-width: 659px) {
  #persona-pic-debbie {
  background-size: 30%;
  }
  #persona-pic-mary {
  background-size: 30%;
  }
  #persona-pic-peter {
  background-size: 30%;
  }

}