.back-arrow:before {
	content:'← ';
}
.back-arrow {
 color: $nhs-blue;
 text-decoration: none;
}
a:visited {
 color: $nhs-blue;
	}


@media (max-width: 769px) {
  #buttons {
    margin-top: 1em
  }
  .primarybutton  {
    background-color: none;
  }
  .back-arrow {
    //background-color: $grey-4;
    color: $nhs-blue;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    padding:0 0 0.5em 0;

  }
  .secondarybutton {
    background-color: $grey-4;
  
  }
}



