.list-nobullet {
	margin-bottom:1em;
}


.servlist-check div {
	display: table-cell;
	vertical-align: top;
	padding-bottom: 1em;
	font-size: 0.9em;
}

@media (min-width: 1020px) {
#content {
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}



}


.timing-table {
	th {
		border-bottom: none;
		vertical-align: top;
	}
	td {
		vertical-align: top;
		border-bottom: none;
		line-height: 1.6;
	}
	.hours {
		font-weight: 600;
	}


}


.small-day-boxes {
	.day-sqr li {
		background-color: #380;
		color: white;
		font-weight: 600;
		text-align: center;
		float: left;
		width:1.6em;
		height:1.6em;
		margin-right: 2px;
		margin-bottom: 0.8em;
		line-height: 1.7;
	}

	.day-sqr li.day-closed {
		background-color: #ccc;
	}
}


.time-blocks {
	line-height: 1;

	.time-open {
		float:left;
		font-size: 0.9em;
		padding-bottom: 0.25em;
		border-bottom: #380 solid 8px;
	}
	.time-closed {
		float:left;
		font-size: 0.9em;
		color: white;
		padding-bottom: 0.25em;
		border-bottom: #eee solid 8px;
	}
}


.waiting-time-choices-table {
	th, td {
		padding-left:0.66em;
	}
}

.choices-wait-type {
	border-radius: 1.25em;
	width: 2.5em;
	height: 2.5em;
	background-color: #e80;
	color: white;
	font-weight: 800;
	font-size: 16px;
	text-align: center;
	line-height: 2.5
}

.gp-time {
	display: inline-block;
	background-color: #03b;
	font-weight: 700;
	color: white;
	width: 4.5em;
	text-align: center;
	padding:0.3em 0;
	border-radius: 2px;
	border-bottom: 3px solid #009;
}
.gp-time-no {
	background-color: #eee;
	border-bottom: 3px solid #e0e0e0;
}

.pharma-time {
	display: inline-block;
	background-color: #0b3;
	font-weight: 700;
	color: white;
	border-bottom: 3px solid #090;
	text-align: center;
	padding:0.3em 1em;
	border-radius: 2px;
}

.ae-time-6 {
	display: inline-block;
	background-color: #b30;
	font-weight: 700;
	color: white;
	border-bottom: 3px solid #900;
	text-align: center;
	padding:0.3em 1em;
	border-radius: 2px;
}
.ae-time-4 {
	display: inline-block;
	background-color: #f60;
	font-weight: 700;
	color: white;
	border-bottom: 3px solid #d50;
	text-align: center;
	padding:0.3em 1em;
	border-radius: 2px;
}
.ae-time-2 {
	display: inline-block;
	background-color: #0b3;
	font-weight: 700;
	color: white;
	border-bottom: 3px solid #090;
	text-align: center;
	padding:0.3em 1em;
	border-radius: 2px;
}