//NHS Footer

footer#nhs-footer {
  background-color: $nhs-blue;
  border-top: $dark-blue 4px solid;
  padding-top:2em;
  margin-top:2em;
}


.footer-list {

  ul, li {
    color: white;
    line-height: 1.8;
    font-size:18px;
  }
}

