// ODS Review services, times, dates, items


.edit-day {
  margin-bottom: 0;
}

.review-day {
  //font-size: 0.9em;
  display: block;
  width:110px;
  margin-right:1em;
  float: left;
}

.review-date {
  display: block;
  width:110px;
  margin-right:1em;
  float: left;
}

.closed {
  color: #cc0000;
}

.form-bold {
  font-weight: 600;
}

.addhours {
  text-decoration: none;
  background-image: url('/public/images/icon-moretime+.png');
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 1px 4px;
  padding-left: 2em;
}
a.addhours:hover:after {
  //text-decoration: underline;
  content: 'add more hours';
  color: #005eb8;
  margin-left: 0.3em;
  }

.removehours {
  text-decoration: none;
  background-image: url('/public/images/icon-circle-close-x.png');
  background-repeat: no-repeat;
  background-size: 0.85em;
  background-position: 0 4.5px;
  padding-left: 1.2em;
}





.edit-services-column {
  p {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 0.52em;
    margin-top: 0;
  }
  .form-control {
    font-size: 1em;
    background-color: white;
  }

  p.review-day-p {
    margin-bottom: 1.04em;
  }
  @media (max-width: 769px) {
    border-bottom:4px solid #ddd;
    margin-bottom:1em;

    p {
      font-size: 1.2em;
      line-height: 1.8;
      margin-bottom: 0.52em;
      margin-top: 0;
    }

    p.review-day-p {
      margin-bottom: 1.04em;
    }
  }
}

.review-website {
  margin-top:-1.3em;
  p {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 0.52em;
    margin-top: 0;
    }

  @media (max-width: 769px) {
  p {
    font-size: 1.2em;
    line-height: 1.8;
    }
  }
}


.review-message {
  float:left;
  padding: 0.9em 1em 0.25em 0;
}

.review-buttons {
  background-color:#edf3f8;
  border-top: 1px solid #bdd8ee;
  border-bottom: 4px solid #0f6ecc;
  margin-bottom:2em;
}

@media (max-width: 769px) {
  .review-buttons {
  display: block;
  height: 160px;
  }
}


#closed-service {
  float: right;
  margin-top:-0.2em;
  font-size: 0.9em;
}



.form-control-1-1 {
  width: 100%;

  @include media(tablet) {
    width: 100%;
  }
}


  div.combobox  {font-size: 0.9em;}
  div.combobox  {
    background-color: yellow;
    position: relative;
    zoom: 1;
    width: 24.5%;
    float: left;
  }
  div.combobox-dash {
    float: left;
    padding: 0.15em 0.25em 0 0.25em;
    color: #333;
  }



  div.combobox  div.dropdownlist  {
   z-index: 2000;
    display: none;
    width: 102%;
    border: solid 2px #666;
    border-radius: 4px;
    background-color: #fff;
    height: 200px;
    overflow: auto;
    position: absolute;
    top: 2.25em;left: -4px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
  }

  div.combobox  .dropdownlist a {
    display: block;
    text-decoration: none;
    background-color: white;
    color: #000;
    padding: 1px 0 1px 10px;
    height: 1.5em;
    cursor: default
  }

  div.combobox  .dropdownlist a.light {}
  div.combobox  .dropdownlist, input {}
  div.combobox  input {}
  div.combobox  span  {}
