// New table for editing times

.timeedittable {
  max-width: 680px;
}

.reviewtable {
  max-width: 420px;
}

.timeedittable td, .timeedittable th {
  border-bottom: none;
}

.reviewtable td {
    border-bottom: 1px solid #999;
}
.reviewtable tr:last-child td {
    border-bottom: none;
}

.timeedittable thead {
}



.timeedittable tr {
  height: 3em;
}



.timeedittable input {
  width: 5em;
}

.to {
  width: 3em;
  display: block;
  text-align: center;
  color: #666;
}

.day {
width: 7em;
}

.time {
  font-weight: 600;
}

.day, .to {
  margin-top:-4px;
}