// ODS Review services, times, dates, items




.review-day {
  display: block;
  width:120px;
  margin-right:1em;
  float: left;
}

.review-date {
  display: block;
  width:120px;
  margin-right:1em;
  float: left;
}
.closed {
  color: #cc0000;
}

.review-services-column {
  p {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 0.52em;
    margin-top: 0;
  }

  p.review-day-p {
    margin-bottom: 1.04em;
  }
}

.review-website {
  margin-top:-1em;

  p {
    font-size: 0.9em;
    }
  }