// New table for editing times

.timeedittable {
  max-width: 680px;
}


.reviewtable, holidaystable {
  max-width: 420px;
}

.reviewtable td, .holidaystable td {
  padding: 0.75em 0;
  }
  .editholstable td {
  padding: 0.88em 0;
  }

.timeedittable td, .timeedittable th {
  border-bottom: none;
}
.reviewtable th, .holidaystable th {
    border-bottom: 2px solid #ccc;
}
.editholstable th {
    border-bottom: 2px solid #ccc;
}
.reviewtable tr, .holidaystable tr {
    border-bottom: 2px solid #ccc;
}
.reviewtable tr:last-child, .holidaystable tr:last-child  {
    border-bottom: none;
}

.holidaystable td {
  vertical-align: top;
}

.timeedittable thead {
}




.timeedittable tr {
  height: 3em;
}



.timeedittable input {
  width: 5em;
}

.to {
  width: 3em;
  display: block;
  text-align: center;
  color: #666;
}

.day {
width: 7em;
}

.time {
  font-weight: 600;
}

.day, .to {
  margin-top:-4px;
}

.reviewtable .day, .reviewtable .to,
.holidaystable .day, .holidaystable .to {
  margin-top: 0;
}