// ODS Review services, times, dates, items




.review-day {
  display: block;
  width:120px;
  margin-right:1em;
  float: left;
}

.review-date {
  display: block;
  width:120px;
  margin-right:1em;
  float: left;
}
.closed {
  color: #cc0000;
}



.review-day-long {
  display: block;
  width:180px;
  margin-right:1em;
  float: left;
}

.review-date-long {
  display: block;
  width:180px;
  margin-right:1em;
  float: left;
}



.review-services-column {
  p {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 0.52em;
    margin-top: 0;
  }

  p.review-day-p {
    margin-bottom: 1.04em;
  }
  @media (max-width: 769px) {
    border-bottom:4px solid #ddd;
    margin-bottom:1em;

    p {
      font-size: 1.2em;
      line-height: 1.8;
      margin-bottom: 0.52em;
      margin-top: 0;
    }

    p.review-day-p {
      margin-bottom: 1.04em;
    }
  }
}

.review-website {
  margin-top:-1.3em;
  p {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 0.52em;
    margin-top: 0;
    }

  @media (max-width: 769px) {
  p {
    font-size: 1.2em;
    line-height: 1.8;
    }
  }
}


.review-message {
  float:left;
  padding: 0.9em 1em 0.25em 0;
}

.review-buttons {
  background-color:#edf3f8;
  border-top: 1px solid #bdd8ee;
  border-bottom: 4px solid #0f6ecc;
  margin-bottom:2em;
}

@media (max-width: 769px) {
  .review-buttons {
  display: block;
  height: 160px;
  }
}


#closed-service {
  float: right;
  margin-top:-0.2em;
  font-size: 0.9em;
}



.doubletime {
  background-image: url('/public/images/greykeyline.png');
  background-repeat: no-repeat;
  background-position: 180px 48px;
}
.doubletime span {
  display:inline-block;
  margin-bottom:0.8em
}


//for the select the services list
.details-table p {
  margin-top: -0.8em;
}