#roadmap-header {
width:100%;
background-image: url('/public/images/nhs-logo-blue.svg');
background-repeat: no-repeat;
background-position: top right 7px;
background-size: 10%;
margin-left: 7px;
margin-bottom: 20px;
}

.roadmap-h1 {
color: #005EB8;
font-weight: 600;
line-height: 1.05;
margin-bottom: 0.33em;
}
.roadmap-h2 {
color: #005EB8;
}

.roadmap-column {
width: 19.5%;
float: left;
margin-left: 0.5%;
font-size: 0.8em;
}
.roadmap-column:after {
content: "";
display: table;
clear: both;
}

.roadmap-colhead {
background-color: #666;
font-weight: 600;
color: white;
text-align: center;
padding: 1em 0;
margin-bottom: 5px;
}

.roadmap-icon {
border-right: #eee 2px solid;
background-color: yellow;
width: 20%;
height: 65px;
float:left;
margin-right:5px;
}

.roadmap-block {
width: 68%;
//height: 60px;
display: inline-block;
float:left;
font-weight: bold;
color: white;
text-transform: none;
padding: 5px 0 0 5px;
overflow: hidden;
}


.roadmap-row {
height: 64px;
margin-bottom:5px;
position: relative;
overflow: visible;
}
.row-natav {
background-color: #3d5d95;
}
.row-beta {
background-color: #009741;
}
.row-natman {
background-color: #00a8cb;
}
.row-market {
background-color: #e32627;
}
.row-subloc {
background-color: #e37b2a;
}
.row-alpha {
background-color: #d073aa;
}
.row-grey {
background-color: #888;
}


.icon-nhs-window {
	background-image: url('/public/images/rm-icon-01.png');
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}


.roadmap-expander {
height: 1em;
width: 1em;
background-color: rgba(0,0,0,0.25);
position: absolute;
bottom: 0;
right: 0;
display: inline-block;
line-height: 0.42;
text-align: center;
}

.moreinfo {
width: 320px;
position: fixed;
left: 320px;
border: solid 4px #666;
z-index: 1000;
background-color: #ee0;
padding: 10px 0 0 10px;
font-size: 0.8em;
}

.moreinfo-button a {
	color: white;
	font-weight: 600;
	text-decoration: none !important;
}

.moreinfo-1 {
	top: 80px;
}
.moreinfo-2 {
	top: 165px;
}
.moreinfo-3 {
	top: 250px;
}
.moreinfo-4 {
	top: 335px;
}
.moreinfo-5 {
	top: 420px;
}

details {
	
}
details summary::-webkit-details-marker {
  display:none;
}
.summary {
	color: white;
	border-left: solid white 1px;
	//background-color: rgba(0,0,0,0.25);
	height: 61px;
	padding: 0.2em 1em 0 0.5em;
	position: relative;
	left: 64px;
	font-weight: 600;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.summary:hover {
	color: #ffc;
	//background-color: rgba(0,0,0,0.5);
}

.details-popup {
	background-color: #ffc;
	display: block;
	position: absolute;
	z-index: 1000;
	top:64px;
	padding: 0.25em 0.5em;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);

}



@media (max-width: 2300px) {
	.roadmap-column {
	font-size: 0.83em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 2.4em;
	max-width: 40%;
	}
	.roadmap-h2 {
	font-size: 1.5em;
	max-width: 40%;
	}
}

@media (max-width: 2150px) {
	.roadmap-column {
	font-size: 0.8em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 2.35em;
	max-width: 55%;
	}
	.roadmap-h2 {
	font-size: 1.45em;
	max-width: 55%;
	}
}

@media (max-width: 1800px) {
	.roadmap-column {
	font-size: 0.75em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 2.3em;
	max-width: 66%;
	}
	.roadmap-h2 {
	font-size: 1.4em;
	max-width: 66%;
	}
}

@media (max-width: 1200px) {
	.roadmap-column {
	font-size: 0.75em;
	}
	.roadmap-block {
	max-width: 62%;
	}
	.roadmap-h1 {
	font-size: 2.2em;
	max-width: 76%;
	}
	.roadmap-h2 {
	font-size: 1.4em;
	max-width: 76%;
	}
}

@media (max-width: 1110px) {
	.roadmap-column {
	font-size: 0.7em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 1.7em;
	max-width: 80%;
	}
	.roadmap-h2 {
	font-size: 1em;
	max-width: 80%;
	}
	.summary {
	left: 50px;
	}
}
@media (max-width: 950px) {
	.roadmap-column {
	font-size: 0.66em;
	}
	.roadmap-h1 {
	font-size: 1.5em;
	max-width: 80%;
	}
	.roadmap-h2 {
	font-size: 1em;
	max-width: 80%;
	}
	.roadmap-colhead {
	font-size: 0.9em;
	}
	.summary {
	left: 40px;
	}
}
@media (max-width: 600px) {
	.roadmap-colhead {
		font-size: 0.8em;
	}
}