.roadmap-column {
width: 19.5%;
float: left;
margin-right: 0.5%;
}
.roadmap-column:after {
	content: "";
  display: table;
  clear: both;
}

.roadmap-colhead {
	background-color: #666;
	font-weight: 600;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 1em 0;
	margin-bottom: 5px;
}

.roadmap-icon {
border-right: #eee 2px solid;
width: 18%;
height: 65px;
float:left;
margin-right:5px;
}

.roadmap-block {
width: 70%;
height: 60px;
float:left;
font-weight: bold;
color: white;
text-transform: none;
font-size: 0.8em;
padding: 5px 0 0 5px;
overflow: hidden;

}


.roadmap-row {
margin-bottom:5px;
position: relative;
}
.row-111 {
background-color: #3d5d95;
}
.row-ctp {
background-color: #009741;
}
.row-a2si {
background-color: #00a8cb;
}
.row-eps {
background-color: #e32627;
}
.row-a2r {
background-color: #f38b2a;
}
.row-uec {
background-color: #d073aa;
}
.row-grey {
background-color: #888;
}


.roadmap-row:after {
content: "";
display: table;
clear: both;
}

.roadmap-expander {
height: 1em;
width: 1em;
background-color: rgba(0,0,0,0.25);
position: absolute;
bottom: 0;
right: 0;
display: inline-block;
line-height: 0.42;
text-align: center;
}

.moreinfo {
width: 320px;
position: fixed;
left: 320px;
border: solid 4px #666;
z-index: 1000;
background-color: #eee;
padding: 10px 0 0 10px;
font-size: 0.8em;
}

.moreinfo-button a {
	color: white;
	font-weight: 600;
	text-decoration: none !important;
}

.moreinfo-1 {
	top: 80px;
}
.moreinfo-2 {
	top: 165px;
}
.moreinfo-3 {
	top: 250px;
}
.moreinfo-4 {
	top: 335px;
}
.moreinfo-5 {
	top: 420px;
}





@media (max-width: 1200px) {
	.roadmap-block {
	font-size: 0.75em;
	padding: 4px 0 0 4px;
	}
	.roadmap-expander {
	font-size: 0.75em;
	}
}

@media (max-width: 1110px) {
	.roadmap-block {
	font-size: 0.7em;
	padding: 3px 0 0 3px;
	}
	.roadmap-expander {
	font-size: 0.7em;
	}
}
@media (max-width: 910px) {
	.roadmap-block {
	font-size: 0.66em;
	padding: 3px 0 0 3px;
	}
	.roadmap-expander {
	font-size: 0.66em;
	}
	.roadmap-colhead {
		font-size: 0.9em;
	}
}
@media (max-width: 600px) {
	.roadmap-colhead {
		font-size: 0.8em;
	}
}