#roadmap-header {
width:100%;
background-image: url('/public/images/nhs-logo-blue.svg');
background-repeat: no-repeat;
background-position: top right 7px;
background-size: 9%;
margin-left: 7px;
margin-bottom: 20px;
float: left;
}

#roadmap-title {
	width: 55%;
	float: left;
	margin-right: 10px;
}
.roadmap-h1 {
color: #005EB8;
font-weight: 600;
line-height: 1.05;
margin-bottom: 0.33em;
}
.roadmap-h2 {
color: #666;
}

.roadmap-column {
width: 19.5%;
float: left;
margin-left: 0.5%;
font-size: 0.8em;
}
.roadmap-column:after {
content: "";
display: table;
clear: both;
}

.roadmap-colhead {
background-color: #666;
font-weight: 600;
color: white;
text-align: center;
padding: 1em 0;
margin-bottom: 5px;
}

.roadmap-icon {
border-right: #eee 2px solid;
background-color: yellow;
width: 20%;
height: 65px;
float:left;
margin-right:5px;
}

.roadmap-block {
width: 68%;
//height: 60px;
display: inline-block;
float:left;
font-weight: bold;
color: white;
text-transform: none;
padding: 5px 0 0 5px;
overflow: hidden;
}

// colors for blocks
.roadmap-row {
height: 64px;
margin-bottom:5px;
position: relative;
overflow: visible;
}
.row-natav {
background-color: #3d5d95;
}
.row-beta {
background-color: #009741;
}
.row-natman {
background-color: #00a8cb;
}
.row-market {
background-color: #e32627;
}
.row-subloc {
background-color: #e37b2a;
}
.row-alpha {
background-color: #d073aa;
}
.row-grey {
background-color: #888;
}


// items for key
#roadmap-key {
position: relative;
//background-color: #ccc;
width: 36%;
float: right;
margin-right: 7%;
}
.key {
font-weight: 600;
font-size: 0.8em;
display: inline-block;
margin-right: 2em;
list-style: none;
}
li.key {
	margin-bottom: 0.5em;
}




li.key-beta {
	border-left: 1.25em solid #009741;
	padding-left: 0.5em;
}
li.key-natman {
	border-left: 1.25em solid #00a8cb;
	padding-left: 0.5em;
}
li.key-natav {
	border-left: 1.25em solid #3d5d95;
	padding-left: 0.5em;
}
li.key-market {
	border-left: 1.25em solid #e32627;
	padding-left: 0.5em;
}
li.key-subloc {
	border-left: 1.25em solid #e37b2a;
	padding-left: 0.5em;
}
li.key-alpha {
	border-left: 1.25em solid #d073aa;
	padding-left: 0.5em;
}
li.key-grey {
	border-left: 1.2em solid #888;
	padding-left: 0.5em;	
}





.icon-nhs-window {
	background-image: url('/public/images/rm-icon-01.png');
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}





.moreinfo-1 {
	top: 80px;
}
.moreinfo-2 {
	top: 165px;
}
.moreinfo-3 {
	top: 250px;
}
.moreinfo-4 {
	top: 335px;
}
.moreinfo-5 {
	top: 420px;
}

details {
	
}
details summary::-webkit-details-marker {
  display:none;
}
.summary {
	color: white;
	border-left: solid white 1px;
	//background-color: rgba(0,0,0,0.25);
	height: 61px;
	padding: 0.2em 1em 0 0.5em;
	position: relative;
	left: 64px;
	font-weight: 600;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.summary:hover {
	color: #ffc;
	//background-color: rgba(0,0,0,0.5);
}



.details-top details summary::-webkit-details-marker {
  display:inline-block;
}
.details-popup {
	background-color: #ffc;
	display: block;
	position: absolute;
	z-index: 1000;
	top:64px;
	padding: 0.25em 0.5em;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);

}

.details-popup-top {
	background-color: #f6f6f6;
	width:50%;
	max-width: 500px;
	display: block;
	position: absolute;
	z-index: 1000;
	font-size: 0.8em;
	padding: 0.5em 1.5em;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35);

}


//for opto+dental
.summary-opto {
	color: white;
	//border-left: solid white 1px;
	//background-color: rgba(0,0,0,0.25);
	height: 61px;
	padding: 0.2em 1em 0 0.5em;
	position: relative;
	//left: 64px;
	font-weight: 600;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.summary:hover {
	color: #ffc;
	//background-color: rgba(0,0,0,0.5);
}
.roadmap-opto-column {
	width: 10.5%;
}
.metacolumn {
	background-color: #444;
	width:205%;
	display: block;
	height: 26px;
}
.metacolumn h3 {
	color: white;
	font-weight: 600;
	text-align: center;
	padding-top: 5px;
}
.ghostcolumn {
	height: 26px;
	background:transparent;
}

.full-width-col {
	font-size: 0.8em;
	margin: 0 1em 0 0.5em;
}






@media (max-width: 2300px) {
	.roadmap-column {
	font-size: 0.83em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 2.4em;
	}
	.roadmap-h2 {
	font-size: 1.5em;
	}
}

@media (max-width: 2150px) {
	.roadmap-column {
	font-size: 0.8em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 2.35em;
	}
	.roadmap-h2 {
	font-size: 1.45em;
	}
}

@media (max-width: 1800px) {
	.roadmap-column {
	font-size: 0.75em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 2.1em;
	}
	.roadmap-h2 {
	font-size: 1.3em;
	}
}

@media (max-width: 1200px) {
	.roadmap-column {
	font-size: 0.75em;
	}
	.roadmap-block {
	max-width: 62%;
	}
	.roadmap-h1 {
	font-size: 2.0em;
	}
	.roadmap-h2 {
	font-size: 1.3em;
	}
}

@media (max-width: 1110px) {
	.roadmap-column {
	font-size: 0.7em;
	}
	.roadmap-block {

	}
	.roadmap-h1 {
	font-size: 1.5em;
	}
	.roadmap-h2 {
	font-size: 1.1em;
	}
	.summary {
	left: 50px;
	}
}
@media (max-width: 950px) {
	.roadmap-column {
	font-size: 0.66em;
	}
	.roadmap-h1 {
	font-size: 1.3em;
	}
	.roadmap-h2 {
	font-size: 1em;
	}
	.roadmap-colhead {
	font-size: 0.9em;
	}
	.summary {
	left: 40px;
	}
	.key {
	font-size: 0.7em;
	}
	.hide-on-small {
	display: none;
	content: "*";
	}
	.hide-on-small::after {
	content: "*";
	}
	
}
@media screen and (max-width: 769px) {
	.roadmap-column {
		float:none;
		width: 85%;
		margin-left: 60px;
	}
	.roadmap-colhead h3 {
		transform: rotate(90deg);
		font-size: 1.6em;
		text-align: left;
		font-weight: 600;
		width: 200px;
		position: relative;
		left: -80px;
		top:90px;
	}
	.roadmap-colhead {
		background-color: #444;
		position: absolute;
	    left: 5px;
	    width:50px;
	    height: 99%;
	}
	.icon-nhs-window {
	background-image: none;
	}
	.summary {
    left: 0;
    font-size: 1.33em;
	}
	.roadmap-block {
    max-width: none;

	}
	.details-popup {
	font-size: 1.33em;
	}

	.hide-mobile {
		display: none;
	}
	
	header {
		display: inline-block;
	}
	header::after {
		clear: all;
	}
	#roadmap-header {
	background-image: url('/public/images/nhs-logo-blue.svg');
	background-repeat: no-repeat;
	background-position: top left -2px;
	background-size: 20%;
	padding-top: 2.3em;
	padding-bottom: 0;
	margin-top: -1em;
	border-bottom: 2px solid #ccc;
	width: 96%;
	}
	#roadmap-title {
	width: 100%;
	float: none;
	}
	#roadmap-title h1 {
		font-size: 1.8em;
	}
	#roadmap-title h2 {
		font-size: 1.2em;
	}
	.details-popup-top {
		width: 88%;
	}
	#roadmap-key {
	margin-top: 1em;
	width: 100%;
	float: none;
	}
	.key {
	font-size: 0.88em;
	}
	#key-asterix {
	font-size: 0.88em;
	text-align: right;
	position: relative;
	right: 16px;
	}


	#colhead1 {
		height: 806px;
	}
	#colhead2 {
		height: 320px;
	}
	#colhead3 {
		height: 252px;
	}
	#colhead4 {
		height: 114px;
	}
	#colhead5 {
		height: 600px;
	}
}


@media(min-width: 770px) {
	.hide-desktop {
		display: none;
	}
}