{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Access to service information
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-xlarge"><span style="color:#005eb8">Debbie:</span> wants to keep patients out
of hospital where appropriate</h1>

			
		</div>


    <div class="column-third">

      
      &nbsp;

    </div>

	</div><!-- end grid row -->




  <div class="grid-row" id="persona-pic-mary">
   
    <div class="column-half" style="line-height: 1.6">

      <h2 class="heading-large" style="color: #005eb8">Role - Specialist Paramedic</h2>
      
      <p>Debbie has been working as a paramedic for
over 10 years. She covers a large geographic
area, including both urban and rural environments.
She works a variety of shift patterns, both day
and night, which last between 8-12 hours.
She's generally working on her own from a
minivan ambulance with a lot of equipment to
carry.</p>

<p>As a Specialist Paramedic, making referrals is a
very frequent task. Debbie has completed
additional qualifications to enable her to perform
more advanced treatments including prescribing
antibiotics for certain infections. Debbie's primary
aim is to avoid admitting people to hospital where
there is an alternative, more appropriate service
available. As well as a Single Point of Access
(SPoA) phone line, Debbie uses her own local
knowledge and checks various websites to refer
patients to services such as respiratory, diabetes
and falls teams.</p>

<p>Debbie is comfortable using digital devices to
access patient care records or look things up on
the internet (when network coverage allows), but
only has access to her personal smartphone and
Toughbook as her Trust has yet to roll out tablets.
Debbie trialled Service Finder for a while but
found the results very inconsistent, so stopped
using it.</p>

<p>Debbie is most happy when she can successfully
treat a patient in the community or refer them onto
another service which will provide appropriate
care in a reasonable timeframe. 
      </p>

    </div>

    <div class="column-half">

      <div class="persona-quote">The biggest frustration
is trying to find
information.
If you can't find it,
eventually you just give
up and admit." </div>


    </div>
  </div><!-- end grid row -->



  <div class="grid-row">
   
    <div class="column-half">

      <table class="persona-table">
        <thead>
         <th>Key challenges</th>
         <th>User needs</th>
       </thead>

       <tbody>

        <tr>
          <td>Can sometimes take a long
time to get through to Single
Point of Access (SPoA).
        </td>
          <td>Direct access to up-to-date
service information on the road
24/7.
        </td>
        </tr>

        <tr>
          <td>Finding service information
out of area is difficult. Takes a
long time and need to look to
several sources.
          </td>
          <td>Information on a wide variety
of local and out-of-area services
from a single source.
        </td>
        </tr>

        <tr>
          <td>Difficult to make a delayed referral
at night and have confidence it
will be picked up the next day.</td>
          <td>Better communication
between services.</td>
        </tr>

        <tr>
          <td>Difficult to find out what
services patient is currently
known to.</td>
          <td>Better access to more
complete patient care records.</td>
        </tr>
       </tbody>
     </table>



    </div>

    <div class="column-half persona-success">
      <h2 class="heading-medium" style="color: #005eb8">What success means</h2>

      <p>"I need to be able to access information about services and
their referral pathways, on the move at any time. I need to trust
that this information is accurate, and the referral will be picked
up so that when I leave that patient, I'm ensured their
continued care will be something that I can be proud of</p>

    </div>
  </div><!-- end grid row -->


</main>






{% endblock %}


