{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Access to service information
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0;max-width: 1000px">

  <div class="grid-row">
    <div class="column-half">
      <img src="/public/images/nhs-digital-logo.png" width="100px" style="margin-bottom: 1em">
    </div>
    <div class="column-half">
      <!--<h2 class="heading-medium" style="color: #005eb8;text-align: right;font-size: 1.4em;margin-top:0">Accessing Service Information</h2>-->
    </div>
  </div><!-- end grid row -->



	





  <div class="grid-row">
   
    <div class="column-two-thirds" style="line-height: 1.6">

      <H1 class="heading-xlarge">Access to Service Information Discovery</H1>

      <h2 class="heading-large" style="margin-top:0;color: #005eb8">Personas</h2>
      

      <p><a href="access-mary">Mary - Emergency Operations Centre Clinician</a></p>

      <p><a href="access-imran">Imran - Community Pharmacist</p>

      <p><a href="access-debbie">Debbie - Specialist Paramedic</p>

      <p><a href="access-peter">Peter - Out Of Hours GP</p>

      <p>&nbsp;</p>

      <p>&nbsp;</p>

      <p>&nbsp;</p>

      <p>&nbsp;</p>

      <p>&nbsp;</p>

    </div>

    <div class="column-third">

      



    </div>
  </div><!-- end grid row -->



  



</main>






{% endblock %}


