{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Access to service information
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0;max-width: 1000px">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-xlarge"><span style="color:#005eb8">Mary:</span> wants to prevent inappropriate referrals</h1>

			
		</div>


    <div class="column-third">

      
      &nbsp;

    </div>

	</div><!-- end grid row -->




  <div class="grid-row" id="persona-pic-mary">
   
    <div class="column-half" style="line-height: 1.6">

      <h2 class="heading-large" style="color: #005eb8">Role - Emergency Operations Centre Clinician</h2>
      
      <p>Mary works on the clinical desk in an Emergency Operations Centre (EOC) run by an Ambulance Trust. She works 12 hour shifts triaging patients with complex symptoms where the call handler is unsure how to proceed. Mary also provides clinical advice and support over the phone to paramedics and does call backs to patients who are insisting on ambulance dispatch when it is not necessary.</p>

      <p>Referring patients to other services is a very large part of Mary's job. Mary knows some areas very well, but the Ambulance Trust covers a large geographic area. She uses Service Finder, NHS Choices and a variety of other tools including Google to supplement her local knowledge about a broad range of services including palliative care, community nursing and mental health.</p>

      <p>Mary is confident using her desktop PC to access systems such as the Computer Aided Dispatch (CAD) system, Directory of Service (DoS) via Pathways triage, patient records and general internet access.</p>

      <p>While Mary is very diligent in trying to find the right service to avoid conveying patients to A&amp;E, she is always conscious that the time taken could be spent handling other patients or providing support to paramedics. At busy times there will be backlog of call backs and it often feels that the clinical desk is short of staff. 
      </p>

      <p><br>&nbsp;</p>

    </div>

    <div class="column-half">

      <div class="persona-quote">It's our job to stop inappropriate referrals.<br>We have to direct patients to what they need not what they want." </div>


    </div>
  </div><!-- end grid row -->



  <div class="grid-row">
   
    <div class="column-two-thirds">

      <table class="persona-table">
        <thead>
         <th width="50%">Key challenges</th>
         <th>User needs</th>
       </thead>

       <tbody>

        <tr>
          <td>Inconsistent or inaccurate DoS returns. Badly ordered with some known services not showing.
        </td>
          <td>Consistent, complete and accurate service information that can be trusted.
        </td>
        </tr>

        <tr>
          <td>Length of time taken to research and refer to service types that don't show in the DoS.
          </td>
          <td>Information on a wider range of services including mental health, dentistry, Local Authority.
        </td>
        </tr>

        <tr>
          <td>Local knowledge is limited to a smaller area than the EOC covers.</td>
          <td>Understanding of the geographic location of services.</td>
        </tr>

        <tr>
          <td>Patients dissatisfaction from referrals to the wrong service due to inaccurate information.</td>
          <td>Ability to input feedback to the system to help improve it.</td>
        </tr>
       </tbody>
     </table>



    </div>

    <div class="column-third persona-success">
      <h2 class="heading-medium" style="color: #005eb8">What success means</h2>

      <p>"If I could trust that the DoS returns will always point me to the most appropriate service then I could refer patients without having to check alternative information sources.</p>

      <p>If the DoS contained a better range of services, then I'd only need to look to other sources for the most unusual cases. This will save time, enabling me to handle more call backs and reduce unnecessary A&amp;E conveyances.</p>

    </div>
  </div><!-- end grid row -->


</main>






{% endblock %}


