{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Access to service information
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0;max-width: 1000px">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-xlarge"><span style="color:#005eb8">Peter:</span> wants to relieve pressure on emergency services
</h1>

			
		</div>


    <div class="column-third">

      
      &nbsp;

    </div>

	</div><!-- end grid row -->




  <div class="grid-row" id="persona-pic-peter">
   
    <div class="column-half" style="line-height: 1.6">

      <h2 class="heading-large" style="color: #005eb8">Role - Out of Hours GP</h2>
      
      <p>Peter is an Out of Hours (OOH) GP for a regional
service provider. He works shifts between 8pm
and Sam, sometimes conducting face-to-face
consultations at the local hospital, sometimes
doing home visits and occasionally undertaking
telephone triage at the OOH provider hub.</p>


<p>As an OOH practitioner, almost all of Peter's
patients have either come direct through their own
GP practice's OOH number or as a referral from
the 111 telephone service. He often refers
patients onto other urgent care services so they
don't feel the need to go to A&amp;E.</p>

<p>When he needs to access information about
services such as mental health, minor injuries or
community nursing, Peter uses a variety of
methods. These include using his local
knowledge, checking the local directory in the
Adastra system on his desktop PC or Toughbook,
phoning the Single Point of Access (SPoA) phone
line or checking other websites on his personal
smartphone.</p>

<p>Peter is very confident using digital tools but has
some frustrations about the devices he uses and
concerns about what happens when systems go
down and there is no paper backup. Peter takes
great care in considering the needs of his patients
and feels a real sense of satisfaction when he
helps them to stay at home with the appropriate
care and support.</p>

      <p>&nbsp;</p>

    </div>

    <div class="column-half">

      <div class="persona-quote">Out of hours services
exist to relieve pressure
on emergency services.
If I can access the
information and services" </div>


    </div>
  </div><!-- end grid row -->



  <div class="grid-row">
   
    <div class="column-two-thirds">

      <table class="persona-table">
        <thead>
         <th width="50%">Key challenges</th>
         <th>User needs</th>
       </thead>

       <tbody>

        <tr>
          <td>Incomplete or inaccurate
information from Adastra local
directory of service.
        </td>
          <td>Information on a wide range of
services including social care,
local authority, third sector and
private.
        </td>
        </tr>

        <tr>
          <td>Time taken for answer from
Single Point of Access (SPoA)
can be excessive.
          </td>
          <td>Instant access to information about
services on the go on multiple
devices.
        </td>
        </tr>

        <tr>
          <td>Difficult to find information on
services out of area. Need to
look to multiple sources of
information and often contact
several services to check.</td>
          <td>Information on a wide range of local
and national services including
social care, local authority, third
sector and private.</td>
        </tr>

        <tr>
          <td>Restricted systems or IT
problems can make it difficult to
access some sources of service
information.</td>
          <td>Additional IT/devices to integrate
with their current systems.</td>
        </tr>
       </tbody>
     </table>



    </div>

    <div class="column-third persona-success">
      <h2 class="heading-medium" style="color: #005eb8">What success means</h2>

      <p>"I strive towards dealing with patients in a timely, consistent
and caring manner. If I can confidently refer a patient onto
another service and trust that they will get the right care
within the appropriate timeframe, then I will be happy that
the purpose of my role has been fulfilled</p>

    </div>
  </div><!-- end grid row -->


</main>






{% endblock %}


