{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Access to service information
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0;max-width: 1000px">


  <div class="grid-row">
    <div class="column-half">
      <img src="/public/images/nhs-digital-logo.png" width="100px" style="margin-bottom: 1em">
    </div>
    <div class="column-half">
      <h2 class="heading-medium" style="color: #005eb8;text-align: right;font-size: 1.4em;margin-top:0">Accessing Service Information</h2>
    </div>
  </div><!-- end grid row -->


	<div class="grid-row" style="border-bottom: 2px solid #0072ce;margin-bottom: 2.5em">
		<div class="column-two-thirds">

      <h1 class="heading-xlarge" style="margin-bottom: 0.66em"><span style="color:#005eb8">Imran:</span> wants to provide the best
possible signposting service</h1>

			
		</div>


    <div class="column-third">

      
      &nbsp;

    </div>

	</div><!-- end grid row -->




  <div class="grid-row" id="persona-pic-imran">
   
    <div class="column-half" style="line-height: 1.6">

      <h2 class="heading-large" style="margin-top:0;color: #005eb8">Role - Community Pharmacist</h2>
      
      <p>As a Community Pharmacist, Imran acts as
both a dispensing pharmacist but also as a
store manager. He is responsible for dealing
with all the diverse issues that arise in the
running of a busy retail store. When he is not
there, a locum pharmacist covers.</p>

<p>Direct patient care is becoming a significant
part of Imran's role. He offers a variety of
services including smoking cessation, weight
management, alcohol advice, flu vaccinations,
minor injuries dressings and blood pressure
monitoring.</p>

<p>Increasingly patients are coming to Imran's
Pharmacy for frontline primary care because
they cannot get a GP appointment. It is the
easiest place for them to access advice and
Imran is known and trusted in the community.</p>

<p>Imran frequently needs to direct patients on to
a vast range of both NHS and private services
such as sexual health, eye units and
emergency dentists, especially on Saturdays.</p>

<p>Imran relies on a mixture of methods including
local knowledge, checking the paper
signposting folder, searching websites or
contacting the local GP to find service
information.</p>

<p>Imran and his team are confident using digital
devices. He will spend as much time as
possible researching available options on a
desktop PC or his own smartphone, however
during busy times he feels pressured when
queues start to form.</p>

      <p>&nbsp;</p>

    </div>

    <div class="column-half">

      <div class="persona-quote">The day to day pressures
in pharmacy have really
increased a lot so I'm
finding it very difficult to
provide a first-class
signposting service."</div>


    </div>
  </div><!-- end grid row -->



  <div class="grid-row">
   
    <div class="column-two-thirds">

      <table class="persona-table">
        <thead>
         <th width="50%">Key challenges</th>
         <th>User needs</th>
       </thead>

       <tbody>

        <tr>
          <td>No centralised or official
source of service information.
        </td>
          <td >Up to date, trustworthy
information, accessible quickly
from one place.
        </td>
        </tr>

        <tr>
          <td>Difficult to keep information in
sign posting folder up to date.
          </td>
          <td>

          </td>
        </tr>

        <tr>
          <td>Time pressures make it difficult
to provide the most considered
referrals.</td>
          <td>

          </td>
        </tr>

        <tr>
          <td>Never knows what problems
patients are going to present
with or what services may be
needed.</td>
          <td>Information on a wide range of
services including social care, local
authority, third sector and private.</td>
        </tr>

        <tr>
          <td>Rarely gets any feedback so
cannot find out what happens
to patients or if referrals are
appropriate.</td>
          <td>Feedback on appropriateness of
referrals and patient outcomes</td>
        </tr>
       </tbody>
     </table>



    </div>

    <div class="column-third persona-success">
      <h2 class="heading-medium" style="color: #005eb8">What success means</h2>

      <p>"I need to be able to access information about services and
their referral pathways, on the move at any time. I need to trust
that this information is accurate, and the referral will be picked
up so that when I leave that patient, I'm ensured their
continued care will be something that I can be proud of</p>

    </div>
  </div><!-- end grid row -->


</main>






{% endblock %}


