{% extends "minimal-layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	
      <h1 class="heading-large">Booking</h1>

      <h3 class="heading-medium" style="">Something something preferred slot or window</h3>



      <!--<p style="max-width: 660px">Please check all of the opening hours for your pharmacy. You will be able to make changes, if required, at the next step.</p>-->

  <div class="grid-row">
    <div class="column-full">

      


      <table class="waiting-time-choices-table">

        <thead style="background-color: #eee">
          <th valign="bottom">Service type</th>
          <th valign="bottom" width=35%>Friday 16th Feb </th>
          <th valign="bottom" width=35%>Saturday 17th Feb </th>
          <th valign="bottom">Sunday 18th Feb </th>
          
        </thead>

        <tbody>
          <tr>
            
            <td>
              <p><strong>GP Surgery</strong>
                </p>
            </td>
            <td>
              <span class="gp-time"><img src="/public/images/radio.png" style="width:1em;height:1em;position: relative;top:3px"> 09:07</span>
              <span class="gp-time"><img src="/public/images/radio.png" style="width:1em;height:1em;position: relative;top:3px"> 09:21</span>
              <span class="gp-time gp-time-no">09:38</span>
              <span class="gp-time"><img src="/public/images/radio.png" style="width:1em;height:1em;position: relative;top:3px"> 09:52</span>

            </td>
            <td>
              <span class="gp-time gp-time-no">10:07</span>
              <span class="gp-time"><img src="/public/images/radio.png" style="width:1em;height:1em;position: relative;top:3px"> 10:21</span>
              <span class="gp-time gp-time-no">10:38</span>
              <span class="gp-time gp-time-no">1:52</span>
            </td>
            <td>
              <p>Closed</p>
            </td>
          </tr>

          <tr>
           
            <td>
              <p><strong>Pharmacy</strong>
                </p>
            </td>
            <td>
              <span class="pharma-time">Open 09:00 - 17:00</span>

            </td>
            <td>
              <span class="pharma-time">Open 09:00 - 12:30</span>

            </td>
            <td>
              <p>Closed</p>

            </td>
          </tr>

          <tr>
            
            <td>
              <p><strong>Accident &amp; Emergency</strong>
                </p>
            </td>
            <td>
              <span class="ae-time-6">6 hour wait</span>
            </td>
            <td>
              <span class="ae-time-4">4 hour wait</span>
            </td>
            <td>
              <span class="ae-time-2">2 hour wait</span>
            </td>
           
          </tr>

        </tbody>

      </table>

    </div>





  </div><!-- end Grid row -->





    

     
      



            

            

        </div><!-- end result container -->






        <br clear="all">


	</div>

</main>








{% endblock %}


