{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Reviewing your services</h1>

      <p>Check the days and times your services are available.</p>




      </div>


      <div class="column-third">
        &nbsp;
      </div>

    </div><!-- end Grid row -->




    <div class="grid-row">
      <div class="column-full" style="background-color:#fff7da;border-top: 4px solid #fce8b6;margin-bottom:9px">
        <div class="review-services-header">
          <h3 class="heading-medium" style="margin: 0.365em 0 0.445em 0">Boots Pharmacy - Ivybridge</h3>
        </div>
      </div>
    </div>


    <div class="grid-row">
      <div class="column-two-thirds">
        

        <div class="edit-services-column">


          <table class="timing-table" style="margin-top:1em">

            <thead>
              <th>Pharmacy opening hours</th>

              <th>
                <div style="font-weight: 400;margin-bottom:1em;">Days</div>

                <div class="small-day-boxes">
                  <ul class="day-sqr">
                    <li>M</li>

                    <li>T</li>

                    <li>W</li>

                    <li>T</li>

                    <li>F</li>

                    <li class="day-closed">S</li>

                    <li class="day-closed">S</li>
                  </ul>
                  <br clear="all">
                </div><!-- end day-sqr-container -->

                 <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li class="day-closed">M</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">W</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">F</li>

                      <li>S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->

                  <div style="font-weight: 400">Sunday</div>

                </th>

              <th>
                <div style="font-weight: 400;margin-bottom: 1em">Hours</div>

                <div class="time-blocks" style="margin-bottom: 0.9em">
                  <div class="time-open">08:30</div>
                  <div class="time-open" style="color:white">to</div>
                  <div class="time-open">13:00</div>
                  <div class="time-closed">lunch</div>
                  <div class="time-open">14:00</div>
                  <div class="time-open" style="color:white">to</div>
                  <div class="time-open">18:00</div>

                  <br clear="all">
                </div>

                <div class="time-blocks">
                    <div class="time-closed" style="width: 0.5em;color: white">0</div>
                    <div class="time-open">09:00</div>
                 
                    <div class="time-open" style="color:white;width:8em">to</div>
                    <div class="time-open">17:00</div>

                    <br clear="all">
                  </div>

                  <div style="margin-top:1em;font-weight:400;color:#c00">Closed</div>


                </th>
            </thead>


            <thead><th colspan="3">
              <div style="background-color: #ccc;width:100%;height:0.33em">&nbsp;</div>
            </th></thead>

       

          


            <thead>
              <th>Services and hours available</th>

              <th><span style="font-weight: 400">Days</span></th>

              <th><span style="font-weight: 400">Hours</span></th>
            </thead>

            <tbody>
              <tr>
                <td>Emergency contraception</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li>T</li>

                      <li>F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->

                </td>
                <td class="hours">

                  <div class="time-blocks">
                    <div class="time-open">08:30</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">13:00</div>
                    <div class="time-closed">lunch</div>
                    <div class="time-open">14:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">18:00</div>

                    <br clear="all">
                  </div>


                </td>
              </tr>

              <tr>
                <td>Head lice management</td>
                <td class="hours">
                  <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li class="day-closed">W</li>

                      <li>T</li>

                      <li class="day-closed">F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->

                  <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li class="day-closed">M</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">W</li>

                      <li class="day-closed">T</li>

                      <li>F</li>

                      <li>S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                  
                  
                </td>
                <td class="hours">

                  <div class="time-blocks" style="margin-bottom: 0.9em">
                    <div class="time-open">08:30</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">13:00</div>
                    <div class="time-closed">lunch</div>
                    <div class="time-open">14:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">18:00</div>

                    <br clear="all">
                  </div>

                  <div class="time-blocks">
                    <div class="time-closed" style="width: 0.5em;color: white">0</div>

                    <div class="time-open">09:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">12:00</div>

                    <br clear="all">                    
                  </div>

                </td>
              </tr>


              <tr>
                <td>Inhaler technique service</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li class="day-closed">M</li>

                      <li>T</li>

                      <li>W</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->

                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li class="day-closed">M</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">W</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">F</li>

                      <li>S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                </td>
                <td class="hours">
                <div class="time-blocks" style="margin-bottom: 0.9em">
                   <div class="time-closed" style="width: 0.5em;color: white">0</div>

                    <div class="time-open">09:00</div>
                    <div class="time-open" style="color:white;width:7em">to</div>
                    <div class="time-open">15:00</div>

                    <br clear="all">                    
                  </div>

                  <div class="time-blocks">
                   <div class="time-closed" style="color:white;">to</div>
                    <div class="time-open">10:00</div>
                    <div class="time-open" style="color:white;width:6.5em">to</div>
                    <div class="time-open">15:00</div>

                    <br clear="all">                    
                  </div>
                </td>
              </tr>

              <tr>
                <td>Medication review service</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li>T</li>

                      <li>F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                </td>
                <td class="hours">

                <div class="time-blocks">
                    <div class="time-open">08:30</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">13:00</div>
                    <div class="time-closed">lunch</div>
                    <div class="time-open">14:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">18:00</div>

                    <br clear="all">
                  </div>

                </td>
              </tr>

              <tr>
                <td>Minor ailment service</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li>T</li>

                      <li>F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                </td>
                <td class="hours">

                <div class="time-blocks">
                   <div class="time-closed" style="color:white;">to</div>
                    <div class="time-open">10:00</div>
                    <div class="time-open" style="color:white;">t</div>
                    <div class="time-open">13:00</div>

                    <br clear="all">                    
                  </div>
                </td>
              </tr>

              <tr>
                <td>Needle and syringe exchange</td>
                <td class="hours">
                  <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->

                  <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li class="day-closed">M</li>

                      <li class="day-closed">T</li>

                      <li class="day-closed">W</li>

                      <li>T</li>

                      <li>F</li>

                      <li>S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->

                </td>
                <td class="hours">

                  <div class="time-blocks" style="margin-bottom: 0.9em">
                    <div class="time-closed" style="width: 0.5em;color: white">0</div>

                    <div class="time-open">09:00</div>
                    <div class="time-open" style="color:white;">to</div>
                    <div class="time-open">13:00</div>

                    <br clear="all">                    
                  </div>

                  <div class="time-blocks">
                   <div class="time-closed" style="color:white;">to</div>
                    <div class="time-open">10:00</div>
                    <div class="time-open" style="color:white;">t</div>
                    <div class="time-open">13:00</div>

                    <br clear="all">                    
                  </div>
                </td>
              </tr>


              <tr>
                <td>NHS Health Check</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li>T</li>

                      <li>F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                </td>
                <td class="hours">

                <div class="time-blocks">
                    <div class="time-open">08:30</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">13:00</div>
                    <div class="time-closed">lunch</div>
                    <div class="time-open">14:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">18:00</div>

                    <br clear="all">
                  </div>

                </td>
              </tr>

              <tr>
                <td>Post-discharge support</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li>T</li>

                      <li>F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                </td>
                <td class="hours">

                <div class="time-blocks">
                    <div class="time-open">08:30</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">13:00</div>
                    <div class="time-closed">lunch</div>
                    <div class="time-open">14:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">18:00</div>

                    <br clear="all">
                  </div>

                </td>
              </tr>

              <tr>
                <td>Stop smoking service</td>
                <td class="hours">
                <div class="small-day-boxes">
                    <ul class="day-sqr">
                      <li>M</li>

                      <li>T</li>

                      <li>W</li>

                      <li>T</li>

                      <li>F</li>

                      <li class="day-closed">S</li>

                      <li class="day-closed">S</li>
                    </ul>
                    <br clear="all">
                  </div><!-- end day-sqr-container -->
                </td>
                <td class="hours">

                <div class="time-blocks">
                    <div class="time-open">08:30</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">13:00</div>
                    <div class="time-closed">lunch</div>
                    <div class="time-open">14:00</div>
                    <div class="time-open" style="color:white">to</div>
                    <div class="time-open">18:00</div>

                    <br clear="all">
                  </div>

                </td>
              </tr>

            </tbody>
          </table>



          

        </div>
      </div><!-- end column third -->

      <div class="column-third">


        <div class="edit-services-column">

         
          <br clear="all">

        </div>

      </div><!-- end column third -->

     
    </div><!-- end Grid row -->

   


      



            

            

        </div><!-- end result container -->



<hr>



        <div id="buttons" style="margin-top:2em">



          <div class="form-group">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button" href="search-results" role="button">Continue →</a>
          </div>


          <div>
            <a class="back-arrow" href="review-services-3">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>


<script type="text/javascript" charset="utf-8" src="/public/javascripts/combobox.js"></script>
<script type="text/javascript" charset="utf-8">

var no = new ComboBox('cb-mon1');
var no = new ComboBox('cb-mon2');
var no = new ComboBox('cb-tue1');
var no = new ComboBox('cb-tue2');
var no = new ComboBox('cb-wed1');
var no = new ComboBox('cb-wed2');
var no = new ComboBox('cb-wed3');
var no = new ComboBox('cb-wed4');
var no = new ComboBox('cb-thu1');
var no = new ComboBox('cb-thu2');
var no = new ComboBox('cb-thu3');
var no = new ComboBox('cb-thu4');
var no = new ComboBox('cb-fri1');
var no = new ComboBox('cb-fri2');
var no = new ComboBox('cb-sat1');
var no = new ComboBox('cb-sat2');
var no = new ComboBox('cb-sun1');
var no = new ComboBox('cb-sun2');

</script>

<script type="text/javascript">
  
  function cbclick(e){
   e = e || event;
   var cb = e.srcElement || e.target;
   if (cb.type !== 'checkbox') {return true;}
   var cbxs = document.getElementById('radiocb').getElementsByTagName('input'), i=cbxs.length;
    while(i--) {
        if (cbxs[i].type && cbxs[i].type == 'checkbox' && cbxs[i].id !== cb.id) {
         cbxs[i].checked = false;
        }
    }
    // if the click should always ddd
</script>


{% endblock %}


