{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Editing your services</h1>

      <p>Make as many changes as you need to your service details.</p>




      </div>


      <div class="column-third">
        &nbsp;
      </div>

    </div><!-- end Grid row -->




    <div class="grid-row">
      <div class="column-full" style="background-color:#fff7da;border-top: 4px solid #fce8b6;margin-bottom:9px">
        <div class="review-services-header">
          <h3 class="heading-medium" style="margin: 0.365em 0 0.445em 0">Boots Pharmacy - Ivybridge</h3>
        </div>
      </div>
    </div>


    <div class="grid-row">
      <div class="column-third">
        

        <div class="edit-services-column">

           <div id="serv1" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv1" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv1">Appliance dispensing</label>
            </div>
          </div>


          <div id="serv2" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv2" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv2">Medicines use review (MUR) service</label>
            </div>
          </div>


          <div id="serv3" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv3" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv3">Multi-lingual staff</label>
            </div>
          </div>


          <div id="serv4" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv4" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv4">New medicine service</label>
            </div>
          </div>

          <div id="serv5" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv5" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv5">Prescription collection from local General Practices</label>
            </div>
          </div>


          <div id="serv6" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv6" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv6">Prescription delivery service</label>
            </div>
          </div>


          <div id="serv7" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv7" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv7">Private consultation room</label>
            </div>
          </div>


          <div id="serv8" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv8" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv8">Public Health</label>
            </div>
          </div>

          <div id="serv9" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv9" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv9">Seasonal flu vaccination service (at risk groups)</label>
            </div>
          </div>

          

        </div>
      </div><!-- end column third -->

      <div class="column-third">

        <div class="edit-services-column">


         


          <div id="serv10" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv10" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv10">Emergency contraception</label>
            </div>
          </div>


          <div id="serv11" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv11" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv11">Head lice management</label>
            </div>
          </div>


          <div id="serv12" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv12" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv12">Inhaler technique service</label>
            </div>
          </div>

          <div id="serv13" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv13" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv13">Medication review service</label>
            </div>
          </div>


          <div id="serv14" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv14" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv14">Minor ailment service</label>
            </div>
          </div>


          <div id="serv15" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv15" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv15">Needle and syringe exchange</label>
            </div>
          </div>


          <div id="serv16" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv16" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv16">NHS Health Check</label>
            </div>
          </div>

          <div id="serv17" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv17" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv17">Post-discharge support</label>
            </div>
          </div>


          <div id="serv18" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv18" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv18">Stop smoking service</label>
            </div>
          </div>


          


          

          <br clear="all">

        </div>

      </div><!-- end column third -->

      <div class="column-third">

        <div class="edit-services-column">

          
          <div id="serv19" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv19" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv19">Supervised consumption of medicines</label>
            </div>
          </div>


          <div id="serv20" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv20" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv20">Vaccination service</label>
            </div>
          </div>

          <div id="serv21" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv21" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv21">Blood pressure monitoring</label>
            </div>
          </div>


          <div id="serv22" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv22" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv22">Chlamydia screening and treatment</label>
            </div>
          </div>


          <div id="serv23" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv23" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv23">Emergency contraception</label>
            </div>
          </div>


          <div id="serv24" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv24" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv24">Healthcheck</label>
            </div>
          </div>

          <div id="serv25" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv25" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv25">Seasonal flu vaccination service (not at risk groups)</label>
            </div>
          </div>


          <div id="serv26" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv26" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv26">Travel clinic</label>
            </div>
          </div>


          <div id="serv27" class="servlist-check">
            <div class="multiple-choice">
              <input id="radio-serv27" type="checkbox" name="radio-group" value="closed">
              <label for="radio-serv27">Type 2 diabetes screening</label>
            </div>
          </div>


        </div>
      </div><!-- end column third -->
    </div><!-- end Grid row -->

    <div class="grid-row">
      <div class="column-full" >

        <div class="review-website" style="padding-top:1.44em">
          <p><strong>Website</strong>
          <br>
          <input class="form-control form-control-3-4" type="text" size="16" value="http://www.boots.com/en/Store-Locator/Boots-Ivybridge-Station-Road/">

          </p>
        </div>

      </div>
    </div><!-- end Grid row -->




    <!--<div class="grid-row">
      <div class="column-full"  style="background-color:#edf3f8;border-top: 1px solid #bdd8ee;border-bottom: 4px solid #0f6ecc;margin-bottom:2em">

          <div class="form-group" style="margin: 0 0 0.5em 0">

            <div style="float:left;padding: 0.9em 1em 0.25em 0">
              <span>Are these details complete and correct?</span>
            </div>

            <div style="float:left" id="radiocb">

              <fieldset class="inline" style="position: relative;top:-3px">

                <div class="multiple-choice">
                  <input id="radio-yes" type="radio" name="radio-group" value="yes">
                  <label for="radio-yes" >Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-no" type="radio" name="radio-group" value="no">
                  <label for="radio-no" >No</label>
                </div>

              </fieldset>
            </div>



        <div id="closed-service" style="float: right;margin-top:-0.2em">
          <div class="multiple-choice">
            <input id="radio-closed" type="checkbox" name="radio-group" value="closed">
            <label for="radio-closed" style="font-size: 0.9em;">Service no longer available</label>
          </div>
        

        </div>

            <br clear="all">

      </div>
    </div> end Grid row -->


      



            

            

        </div><!-- end result container -->



<hr>



        <div id="buttons" style="margin-top:2em">



          <div class="form-group">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button" href="search-results" role="button">Continue →</a>
          </div>


          <div>
            <a class="back-arrow" href="review-services-3">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>


<script type="text/javascript" charset="utf-8" src="/public/javascripts/combobox.js"></script>
<script type="text/javascript" charset="utf-8">

var no = new ComboBox('cb-mon1');
var no = new ComboBox('cb-mon2');
var no = new ComboBox('cb-tue1');
var no = new ComboBox('cb-tue2');
var no = new ComboBox('cb-wed1');
var no = new ComboBox('cb-wed2');
var no = new ComboBox('cb-wed3');
var no = new ComboBox('cb-wed4');
var no = new ComboBox('cb-thu1');
var no = new ComboBox('cb-thu2');
var no = new ComboBox('cb-thu3');
var no = new ComboBox('cb-thu4');
var no = new ComboBox('cb-fri1');
var no = new ComboBox('cb-fri2');
var no = new ComboBox('cb-sat1');
var no = new ComboBox('cb-sat2');
var no = new ComboBox('cb-sun1');
var no = new ComboBox('cb-sun2');

</script>

<script type="text/javascript">
  
  function cbclick(e){
   e = e || event;
   var cb = e.srcElement || e.target;
   if (cb.type !== 'checkbox') {return true;}
   var cbxs = document.getElementById('radiocb').getElementsByTagName('input'), i=cbxs.length;
    while(i--) {
        if (cbxs[i].type && cbxs[i].type == 'checkbox' && cbxs[i].id !== cb.id) {
         cbxs[i].checked = false;
        }
    }
    // if the click should always ddd
</script>


{% endblock %}


