{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	
      <h1 class="heading-large">Review your holidays</h1>



      <p style="max-width: 660px">Please check all of the opening hours for the bank holidays. Other planned days with non-standard hours or closure can be added.</p>

  <div class="grid-row">
    <div class="column-full">

      <h3 class="heading-medium" style="margin: 0.365em 0 0.445em 0">Boots Pharmacy - Ivybridge</h3>



      <table class="timeedittable editholstable" style="max-width: 680px">

        <thead>
          <th style=""><span class="hiddenmobilecontent">Bank&nbsp;</span>Holidays</th>
          <th style="">Open</th>
          <th style=""> <!-- TO --> </th>
          <th style="">Close</th>
          <th style="font-weight: 300" class="addhourscol">Add<span class="hiddenmobilecontent">&nbsp;more&nbsp;hours</span></th>
        </thead>

        <tbody>
          <tr style="height: 1em;">
            <td colspan="5" style="padding-bottom: 0"><strong>Good Friday</strong></td>

          </tr>
          <tr>
            <td><div class="day">30 Mar<span class="hiddenmobilecontent">ch 20</span><span class="mobilecontent">&nbsp;</span>18</div></td>

            <td>
              <div class="combobox" style="">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="time" size="19" value="09:00" name="comboboxfieldname" id="cb-bh11">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox --></td>

            <td> <div class="to">to</div> </td>

            <td>
            <div class="combobox" style="">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="time" size="19" value="12:30" name="comboboxfieldname" id="cb-bh12" style="width:5em">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->
            </td>
            <td class="addhourscol">
              <div style="position:relative;top: 5px"><a href="#addhours" class="addhours"></a></div>
            </td>
          </tr>

          <tr class="forsmallmobile">
            <td colspan="3">
              <div style="position:relative;top: 5px"><a href="#addhours" class="addhours"> add more hours</a></div>
            </td>

          </tr>

          <tr style="height: 1em;border-top: 1px solid #ddd">
            <td colspan="5" style="padding-bottom: 0"><strong>Easter Monday</strong></td>

          </tr>
          <tr>
            <td><div class="day">02 Apr<span class="hiddenmobilecontent">il 20</span><span class="mobilecontent">&nbsp;</span>18</div></td>

            <td>
              <div class="combobox" style="">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="text" size="16" value="Closed" name="comboboxfieldname" id="cb-bh21" style="color: #c00">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->
            </td>

            <td> <div class="to" style="display:none">to</div> </td>

            <td>
              <div class="combobox" style="display:none">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="text" size="16" value="09:00" name="comboboxfieldname" id="cb-bh22">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->
            </td>
          </tr>

          <tr style="height: 1em;border-top: 1px solid #ddd">
            <td colspan="5" style="padding-bottom: 0"><strong>Early May</strong></td>

          </tr>
          <tr>
            <td><div class="day">07 May<span class="hiddenmobilecontent"> 20</span><span class="mobilecontent">&nbsp;</span>18</div></td>

            <td>
              <div class="combobox" style="">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="text" size="16" value="Closed" name="comboboxfieldname" id="cb-bh31" style="color: #c00">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->
            </td>

            <td> <div class="to" style="display:none">to</div> </td>

            <td>
              <div class="combobox" style="display:none">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="text" size="16" value="09:00" name="comboboxfieldname" id="cb-bh32">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->
            </td>
          </tr>
          
       
        </tbody>
      </table>


      <hr>



      <table class="timeedittable editholstable" style="max-width: 680px">

        <thead>
          <th style=""><span class="hiddenmobilecontent">Other&nbsp;</span> days</th>
          <th style="">Open</th>
          <th style=""> <!-- TO --> </th>
          <th style="">Close</th>
          <th style="font-weight: 300" class="addhourscol">Add<span class="hiddenmobilecontent">&nbsp;more&nbsp;hours</span></th>
        </thead>

        <tbody>
          <tr style="height: 1em;">
            <td colspan="5" style="padding-bottom: 0">Saturday</td>

          </tr>
          <tr>
            <td><div class="day">31 Mar<span class="hiddenmobilecontent">ch 20</span><span class="mobilecontent">&nbsp;</span>18</div></td>

            <td>
              <div class="combobox" style="">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="time" size="19" value="09:00" name="comboboxfieldname" id="cb-bh11">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox --></td>

            <td> <div class="to">to</div> </td>

            <td>
            <div class="combobox" style="">
                <input class="form-control form-control-1-1 form-bold form-arrow" type="time" size="19" value="12:30" name="comboboxfieldname" id="cb-bh12" style="width:5em">

                <span></span>
                <div class="dropdownlist" style="display: none;width: 100px">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->
            </td>
            <td class="addhourscol">
              <div style="position:relative;top: 5px"><a href="#addhours" class="addhours"></a></div>
            </td>
          </tr>

          <tr class="forsmallmobile">
            <td colspan="3">
              <div style="position:relative;top: 5px"><a href="#addhours" class="addhours"> add more hours</a></div>
            </td>

          </tr>

          
          
       
        </tbody>
      </table>

      <p style="margin-top:1em"><a href="#+day">Add another day with special hours or closure</a></p>

    </div>





    <div class="column-half">

      &nbsp;

    </div>
  </div><!-- end Grid row -->




     
    

     
      



        <br clear="all">

        <div id="buttons">



          <div class="form-group ">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button primarybutton" href="review-pharma-servicehours" role="button">Continue →</a>
          </div>


          <div class="secondarybutton">
             <a class="back-to-previous" href="javascript:history.back()">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>





<script type="text/javascript" charset="utf-8" src="/public/javascripts/combobox.js"></script>
<script type="text/javascript" charset="utf-8">

var no = new ComboBox('cb-bh11');
var no = new ComboBox('cb-bh12');
var no = new ComboBox('cb-bh21');
var no = new ComboBox('cb-bh22');
var no = new ComboBox('cb-bh31');
var no = new ComboBox('cb-bh32');

var no = new ComboBox('cb-bh41');
var no = new ComboBox('cb-bh42');
var no = new ComboBox('cb-bh51');
var no = new ComboBox('cb-bh52');
var no = new ComboBox('cb-bh61');
var no = new ComboBox('cb-bh62');
var no = new ComboBox('cb-bh71');
var no = new ComboBox('cb-bh72');

var no = new ComboBox('cb-oth1');
var no = new ComboBox('cb-oth2');

</script>
<script type="text/javascript">
  
  function cbclick(e){
   e = e || event;
   var cb = e.srcElement || e.target;
   if (cb.type !== 'checkbox') {return true;}
   var cbxs = document.getElementById('radiocb').getElementsByTagName('input'), i=cbxs.length;
    while(i--) {
        if (cbxs[i].type && cbxs[i].type == 'checkbox' && cbxs[i].id !== cb.id) {
         cbxs[i].checked = false;
        }
    }
    // if the click should always 
</script>


{% endblock %}


