{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Editing your services</h1>

      <p>Make as many changes as you need to your service details.</p>

      <p>If you have services missing, please <a href="#">click here</a>.</p>



      </div>


      <div class="column-third">
        &nbsp;
      </div>

    </div><!-- end Grid row -->




    <div class="grid-row">
      <div class="column-full" style="background-color:#fff7da;border-top: 4px solid #fce8b6;margin-bottom:9px">
        <div class="review-services-header">
          <h3 class="heading-medium" style="margin: 0.365em 0 0.445em 0">Emergency Contraception and Chlamydia - Boots Pharmacy - Ivybridge</h3>
        </div>
      </div>
    </div>


    <div class="grid-row">
      <div class="column-third">
        

        <div class="edit-services-column">

          <p><strong>ODS Code</strong><br>
            <input class="form-control form-control-2-3" type="text" size="8" value="FEF88">
          </p>

          <p><strong>Public phone</strong><br>
            <input class="form-control form-control-2-3" type="text" size="16" value="01752896787">
          </p>

          <p><strong>Address</strong><br>
            <input class="form-control form-control-2-3" type="text" size="16" value="Boots Pharmacy"></p>
            <p>

            <p><input class="form-control form-control-2-3" type="text" size="16" value="2-3 Erme Terrace">
            <a href="#removehours" class="removehours">remove</span></a></p>
            <p><input class="form-control form-control-2-3" type="text" size="16" value="Station Road">
            <a href="#removehours" class="removehours">remove</span></a></p>
            <p><input class="form-control form-control-2-3" type="text" size="16" value="Ivybridge">
              <a href="#removehours" class="removehours">remove</span></a></p>
            <p><input class="form-control form-control-2-3" type="text" size="16" value="Devon"> <a href="#removehours" class="removehours">remove</span></a></p>
            <p><a href="#" style="text-decoration: none">+ add an address line</a>
          </p>

          <p><strong>Post Code</strong><br>
            <input class="form-control form-control-2-3" type="text" size="16" value="PL21 0AL">
          </p>

          <p style="color:#666"><strong>Town</strong> (set from postcode)<br>
          Bourton-on-the-Water xyz</p>

        </div>
      </div><!-- end column third -->

      <div class="column-third">


        
        <div class="edit-services-column">


          <div id="closed-service" style="margin-bottom: 2em;position: relative;left:-1.5em">
            <div class="multiple-choice">
              <input id="radio-closed" type="checkbox" name="radio-group" value="closed">
              <label for="radio-closed">Service no longer available</label>
            </div>
          

          </div>

          <br clear="all">

         
            <p><strong>Opening hours</strong></p>


            <div class="day-sqr-container">

              <ul>
                <li class="day-sqr day-sqr-open">
                Mon
              </li>

              <li class="day-sqr day-sqr-open">
                Tue
              </li>

              <li class="day-sqr day-sqr-altopen">
                Wed
              </li>

              <li class="day-sqr day-sqr-altopen">
                Thu
              </li>

              <li class="day-sqr day-sqr-open">
                Fri
              </li>

              <li class="day-sqr day-sqr-closed">
                Sat
              </li>

              <li class="day-sqr day-sqr-closed">
                Sun
              </li>
            </ul>

              <br clear="all">

            </div><!-- end day-sqr-container -->

            <br clear="all">




          <div class="edit-day">
          <strong>

            <div style="float:left;margin-right: 0.8em;font-size: 0.9em">Open:</div>

            <div class="combobox" style="">

                <input class="form-control form-control-1-1 form-bold" type="text" size="16" value="09:00" name="comboboxfieldname" id="cb-mon1">

                <span></span>
                <div class="dropdownlist">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->

              <div  style="float:left;margin: 0 0.8em 0 1.66em;font-size: 0.9em"> Close:</div>

              <div class="combobox">
                <input class="form-control form-control-1-1 form-bold" type="text" size="16" value="17:30" name="comboboxfieldname" id="cb-mon2">

                <span></span>
                <div class="dropdownlist">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->

              <br clear="all">
            </strong></p>

            <!-- <p style=""><a href="#addhours" class="addhours"></a></p>-->

          </div><!-- end edit day block -->








          <div class="day-sqr-container" style="margin-top:4em">

              <ul>
                <li class="day-sqr day-sqr-altopen">
                Mon
              </li>

              <li class="day-sqr day-sqr-altopen">
                Tue
              </li>

              <li class="day-sqr day-sqr-open">
                Wed
              </li>

              <li class="day-sqr day-sqr-open">
                Thu
              </li>

              <li class="day-sqr day-sqr-altopen">
                Fri
              </li>

              <li class="day-sqr day-sqr-closed">
                Sat
              </li>

              <li class="day-sqr day-sqr-closed">
                Sun
              </li>
            </ul>

              <br clear="all">

            </div><!-- end day-sqr-container -->

            <br clear="all">




          <div class="edit-day">
          <strong>

            <div style="float:left;margin-right: 0.8em;font-size: 0.9em">Open:</div>

            <div class="combobox" style="">

                <input class="form-control form-control-1-1 form-bold" type="text" size="16" value="09:00" name="comboboxfieldname" id="cb-mon1">

                <span></span>
                <div class="dropdownlist">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->

              <div  style="float:left;margin: 0 0.8em 0 1.66em;font-size: 0.9em"> Close:</div>

              <div class="combobox">
                <input class="form-control form-control-1-1 form-bold" type="text" size="16" value="17:30" name="comboboxfieldname" id="cb-mon2">

                <span></span>
                <div class="dropdownlist">
                  <a style="color:#cc0000">Closed</a>

                  <a>08:00</a>
                  <a>08:30</a>
                  <a>09:00</a>
                  <a>09:30</a>
                  <a>10:00</a>
                  <a>10:30</a>
                  <a>11:00</a>
                  <a>11:30</a>
                  <a>12:00</a>
                  <a>12:30</a>
                  <a>13:00</a>
                  <a>13:30</a>
                  <a>14:00</a>
                  <a>14:30</a>
                  <a>15:00</a>
                  <a>15:30</a>
                  <a>16:00</a>
                  <a>16:30</a>
                  <a>17:00</a>
                  <a>17:30</a>
                  <a>18:00</a>
                  <a>18:30</a>
                  <a>19:00</a>
                  <a>19:30</a>
                  <a>20:00</a>
                  <a>20:30</a>
                  <a>21:00</a>

                </div>
              </div><!-- end a time-entry combobox -->

              <br clear="all">
            </strong></p>

            <!-- <p style="margin-left: 126px"><a href="edit-services-3-lunchmonday" class="addhours"></a></p> -->

          </div><!-- end edit day block -->

          


        </div>

      </div><!-- end column third -->

      <div class="column-third">

        <div class="edit-services-column">

          <p class="review-day-p"><strong>Bank holidays</strong><br>
          <span class="review-bankhol">Mon, Christmas Day</span><br>
          <span class="review-date">25/12/2017</span><strong><input class="form-control form-control-1-4 form-bold" type="text" size="16" value="Closed" style="color:#c00;"> <span style="color:#ccc">–</span> <input class="form-control form-control-1-4 form-bold" type="text" size="16" value="" style="border-color: #ccc;color:#ccc"></strong></p>

          <p class="review-day-p"><span class="review-bankhol">Tue, Boxing Day</span><br>
          <span class="review-date">26/12/2017</span>
          <strong><input class="form-control form-control-1-4 form-bold" type="text" size="16" value="09:00"> – <input class="form-control form-control-1-4 form-bold" type="text" size="16" value="13:30"></strong></p>

          <p class="review-day-p"><span class="review-bankhol">Mon, New Year’s Day</span><br>
          <span class="review-date">01/01/2018</span>
          <strong><input class="form-control form-control-1-4 form-bold" type="text" size="16" value="Closed" style="color:#c00;"> <span style="color:#ccc">–</span> <input class="form-control form-control-1-4 form-bold" type="text" size="16" value="" style="border-color: #ccc;color:#ccc"></strong></p>

          <p style="margin-bottom:2em"><a href="#addaday" style="text-decoration: none">+ add bank holiday</a></p>


          <p class="review-day-p"><strong>Other dates</strong><br>
          <span class="review-date">30/03/2018</span>
          <strong><input class="form-control form-control-1-4 form-bold" type="text" size="16" value="Closed" style="color:#c00;"> <span style="color:#ccc">–</span> <input class="form-control form-control-1-4 form-bold" type="text" size="16" value="" style="border-color: #ccc;color:#ccc"></strong></p>

          <p class="review-day-p">
            <span class="review-date">02/04/2018</span>
            <strong>
              <input class="form-control form-control-1-4 form-bold" type="text" size="16" value="Closed" style="color:#c00;">


              



           <span style="color:#ccc">–</span> <input class="form-control form-control-1-4 form-bold" type="text" size="16" value="" style="border-color: #ccc;color:#ccc"></strong></p>

          <p><a href="#addaday" style="text-decoration: none;">+ add date</a></p>

        </div>
      </div><!-- end column third -->
    </div><!-- end Grid row -->

    <div class="grid-row">
      <div class="column-full" >

        <div class="review-website" style="padding-top:1.44em">
          <p><strong>Website</strong>
          <br>
          <input class="form-control form-control-3-4" type="text" size="16" value="http://www.boots.com/en/Store-Locator/Boots-Ivybridge-Station-Road/">

          </p>
        </div>

      </div>
    </div><!-- end Grid row -->




    <!--<div class="grid-row">
      <div class="column-full"  style="background-color:#edf3f8;border-top: 1px solid #bdd8ee;border-bottom: 4px solid #0f6ecc;margin-bottom:2em">

          <div class="form-group" style="margin: 0 0 0.5em 0">

            <div style="float:left;padding: 0.9em 1em 0.25em 0">
              <span>Are these details complete and correct?</span>
            </div>

            <div style="float:left" id="radiocb">

              <fieldset class="inline" style="position: relative;top:-3px">

                <div class="multiple-choice">
                  <input id="radio-yes" type="radio" name="radio-group" value="yes">
                  <label for="radio-yes" >Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-no" type="radio" name="radio-group" value="no">
                  <label for="radio-no" >No</label>
                </div>

              </fieldset>
            </div>



        <div id="closed-service" style="float: right;margin-top:-0.2em">
          <div class="multiple-choice">
            <input id="radio-closed" type="checkbox" name="radio-group" value="closed">
            <label for="radio-closed" style="font-size: 0.9em;">Service no longer available</label>
          </div>
        

        </div>

            <br clear="all">

      </div>
    </div> end Grid row -->


      



            

            

        </div><!-- end result container -->



<hr>



        <div id="buttons" style="margin-top:2em">



          <div class="form-group">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button" href="search-results" role="button">Continue →</a>
          </div>


          <div>
            <a class="back-arrow" href="review-services-3">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>


<script type="text/javascript" charset="utf-8" src="/public/javascripts/combobox.js"></script>
<script type="text/javascript" charset="utf-8">

var no = new ComboBox('cb-mon1');
var no = new ComboBox('cb-mon2');
var no = new ComboBox('cb-tue1');
var no = new ComboBox('cb-tue2');
var no = new ComboBox('cb-wed1');
var no = new ComboBox('cb-wed2');
var no = new ComboBox('cb-wed3');
var no = new ComboBox('cb-wed4');
var no = new ComboBox('cb-thu1');
var no = new ComboBox('cb-thu2');
var no = new ComboBox('cb-thu3');
var no = new ComboBox('cb-thu4');
var no = new ComboBox('cb-fri1');
var no = new ComboBox('cb-fri2');
var no = new ComboBox('cb-sat1');
var no = new ComboBox('cb-sat2');
var no = new ComboBox('cb-sun1');
var no = new ComboBox('cb-sun2');

</script>

<script type="text/javascript">
  
  function cbclick(e){
   e = e || event;
   var cb = e.srcElement || e.target;
   if (cb.type !== 'checkbox') {return true;}
   var cbxs = document.getElementById('radiocb').getElementsByTagName('input'), i=cbxs.length;
    while(i--) {
        if (cbxs[i].type && cbxs[i].type == 'checkbox' && cbxs[i].id !== cb.id) {
         cbxs[i].checked = false;
        }
    }
    // if the click should always 
</script>


{% endblock %}


