{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

<div class="grid-row">

    

    <div class="column-two-thirds">

      <div>

<!--      <h2 class="heading-medium">What?</h2>-->

      <div id="service-picker-box" class="picker-box" style="margin-top:3em">

        <label class="form-label" for="service-picker">

          <strong>Find a type of service</strong>
          
          <span class="picker-form-hint" style="display:inline-block;margin:0.4em 0">
          Example: Urgent Care Centre, Pharmacy
            
          </span>
        </label>

        <select id="service-picker">
        <option value="" selected="default"></option>
                  
        <option value="000">Acute Assessment unit</option>
        <option value="000">Ambulance Service</option>
        <option value="000">Care Home</option>
        <option value="000">Clinics</option>
        <option value="000">Community Based Services</option>
        <option value="000">Community Hospital</option>
        <option value="000">Dental Emergency</option>
        <option value="000">Dental Services</option>
        <option value="000">Distance Selling Pharmacy (DSP)</option>
        <option value="000">District/Community Nurse</option>
        <option value="000">Domiciliary Dentist</option>
        <option value="000">Domiciliary Optician</option>
        <option value="000">Emergency Care Practitioner (ECP)</option>
        <option value="000">Emergency Department</option>
        <option value="000">Eye Casualty</option>
        <option value="000">GP Choice</option>
        <option value="000">GP Extended Hours </option>
        <option value="000">GP in hours</option>
        <option value="000">GP-Led UCC with ED</option>
        <option value="000">GP Out of Hours Provider (OOH)</option>
        <option value="000">Health Information</option>
        <option value="000">Health Visitor</option>
        <option value="000">Hyper-Acute Stroke Unit (HASU)</option>
        <option value="000">Integrated Urgent Care (IUC)</option>
        <option value="000">Clinical Assessment Service (CAS)</option>
        <option value="000">Intermediate Care</option>
        <option value="000">Mental Health</option>
        <option value="000">Midwifery</option>
        <option value="000">Minor Eye Condition service (MECS)</option>
        <option value="000">Minor Injuries Unit (MIU)</option>
        <option value="000">Multi-Disciplinary Services</option>
        <option value="000">NHS111 Provider</option>
        <option value="000">Optician</option>
        <option value="000">Palliative Care</option>
        <option value="000">Pharmacist</option>
        <option value="000">Pharmacist Enhanced Service</option>
        <option value="000">Pharmacist - Extended Hours</option>
        <option value="000">Pharmacist Urgent Prescription</option>
        <option value="000">Primary Care Practitioner (PCP)</option>
        <option value="000">Primary Percutaneous Coronary Intervention (PPCI)</option>
        <option value="000">Safeguarding</option>
        <option value="000">Sexual Health</option>
        <option value="000">Single Point of Access (SPoA)</option>
        <option value="000">Social Care</option>
        <option value="000">Specialist Service</option>
        <option value="000">Speciality Emergency Department (Spec ED)</option>
        <option value="000">Therapist</option>
        <option value="000">Urgent Care Centre (UCC)</option>
        <option value="000">Voluntary agency</option>
        <option value="000">Walk In Centre (WIC)</option>

        </select>

        <script type="text/javascript">
      element = document.querySelector('#service-picker')
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: element,
        displayMenu: 'overlay',
        name: 'my-autocomplete'
      })
        </script>

        <br clear="all">

        <p><a href="addtype">+ add another type of service</a></p>


      </div><!-- end picker box -->

    </div>







      <div style="margin: 3em 0">
        <div class="form-group">

          <a class="button" href="finder-3b" role="button">Continue</a>
        
        </div>

        <!-- - - - - - <div>
          <a class="back-arrow" href="start">Previous step</a>
        </div> - - - - there is no previous step -->

        <br clear="all">

      </div>










    </div><!-- end column -->

  

    


    <div class="column-third">
      
      &nbsp;

    </div><!-- end column -->


	</div><!-- end a grid row -->


</form>
</main>






{% endblock %}


