{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

<div class="grid-row">

    

    <div class="column-two-thirds">

      <div>

<!--      <h2 class="heading-medium">What?</h2>-->

      <div id="service-picker-box" class="picker-box" style="margin-top:3em">

        <label class="form-label" for="service-picker">

          <strong>Find a type of service</strong>
          
          <span class="picker-form-hint" style="display:inline-block;margin:0.4em 0">
          Example: Urgent Care Centre, Pharmacy
            
          </span>
        </label>

        <select id="service-picker">
        <option value="" selected="default"></option>
                  
        <option value="000">Acute Assessment unit</option>
        <option value="000">Ambulance Service</option>
        <option value="000">Care Home</option>
        <option value="000">Clinics</option>
        <option value="000">Community Based Services</option>
        <option value="000">Community Hospital</option>
        <option value="000">Dental Emergency</option>
        <option value="000">Dental Services</option>
        <option value="000">Distance Selling Pharmacy (DSP)</option>
        <option value="000">District/Community Nurse</option>
        <option value="000">Domiciliary Dentist</option>
        <option value="000">Domiciliary Optician</option>
        <option value="000">Emergency Care Practitioner (ECP)</option>
        <option value="000">Emergency Department</option>
        <option value="000">Eye Casualty</option>
        <option value="000">GP Choice</option>
        <option value="000">GP Extended Hours </option>
        <option value="000">GP in hours</option>
        <option value="000">GP-Led UCC with ED</option>
        <option value="000">GP Out of Hours Provider (OOH)</option>
        <option value="000">Health Information</option>
        <option value="000">Health Visitor</option>
        <option value="000">Hyper-Acute Stroke Unit (HASU)</option>
        <option value="000">Integrated Urgent Care (IUC)</option>
        <option value="000">Clinical Assessment Service (CAS)</option>
        <option value="000">Intermediate Care</option>
        <option value="000">Mental Health</option>
        <option value="000">Midwifery</option>
        <option value="000">Minor Eye Condition service (MECS)</option>
        <option value="000">Minor Injuries Unit (MIU)</option>
        <option value="000">Multi-Disciplinary Services</option>
        <option value="000">NHS111 Provider</option>
        <option value="000">Optician</option>
        <option value="000">Palliative Care</option>
        <option value="000">Pharmacist</option>
        <option value="000">Pharmacist Enhanced Service</option>
        <option value="000">Pharmacist - Extended Hours</option>
        <option value="000">Pharmacist Urgent Prescription</option>
        <option value="000">Primary Care Practitioner (PCP)</option>
        <option value="000">Primary Percutaneous Coronary Intervention (PPCI)</option>
        <option value="000">Safeguarding</option>
        <option value="000">Sexual Health</option>
        <option value="000">Single Point of Access (SPoA)</option>
        <option value="000">Social Care</option>
        <option value="000">Specialist Service</option>
        <option value="000">Speciality Emergency Department (Spec ED)</option>
        <option value="000">Therapist</option>
        <option value="000">Urgent Care Centre (UCC)</option>
        <option value="000">Voluntary agency</option>
        <option value="000">Walk In Centre (WIC)</option>

        </select>

        <script type="text/javascript">
      element = document.querySelector('#service-picker')
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: element,
        displayMenu: 'overlay',
      })
        </script>

        <br clear="all">


      </div><!-- end picker box -->

    </div>






    <div id="when">

        <div style="float:left" id="radiocb">
          <fieldset class="inline" style="position: relative;top:-3px">

            <label for="time-radio-group"><strong>How urgently should the patient be seen?</strong></label>

            <br clear="all">


            <div class="multiple-choice">
              <input id="radio-1h" type="radio" name="time-radio-group" value="1h">
              <label for="radio-1h" >1 hour</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-2h" type="radio" name="time-radio-group" value="2h">
              <label for="radio-2h" >2 hours</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-6h" type="radio" name="time-radio-group" value="6h">
              <label for="radio-6h" >6 hours</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-12h" type="radio" name="time-radio-group" value="12h">
              <label for="radio-12h" >12 hours</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-24h" type="radio" name="time-radio-group" value="24h">
              <label for="radio-24h" >24 hours</label>
            </div>

          </fieldset>

          <br clear="all">

        </div>

      </div><!-- close WHEN area -->





      <div id="WHERE">

        <div style="float:left;margin-top:2em" id="radiocb">
          <fieldset class="inline" style="position: relative;top:-3px">

            <label for="distance-radio-group"><strong>Where should the patient be seen?</strong></label>

            <br clear="all">


            <div class="multiple-choice">
              <input id="radio-5m" type="radio" name="distance-radio-group" value="5m">
              <label for="radio-5m" >5 miles</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-10m" type="radio" name="distance-radio-group" value="10m">
              <label for="radio-10m" >10 miles</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-20m" type="radio" name="distance-radio-group" value="20m">
              <label for="radio-20m" >20 miles</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-40m" type="radio" name="distance-radio-group" value="40m">
              <label for="radio-40m" >40 miles</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-60m" type="radio" name="distance-radio-group" value="60m">
              <label for="radio-60m" >60 miles</label>
            </div>

          </fieldset>

          <br clear="all">

          <p>from <a href="locate">my current location</a> or <strong>postcode</strong> 

            <input class="form-control" name="age" type="number" id="age" size="3" maxlength="3" style="width:5em">



        </div>

      </div><!-- close WHERE area -->





    </div><!-- end column -->

  </div><!-- end grid row -->


<br clear="all">



  <div class="grid-row">

    <div class="column-two-thirds">

      <div style="padding-top:0.1em;padding-bottom: 2em">
        <details style="" >

          <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
            <span class="summary" style="text-decoration: none;">Patient details (optional)</span>
          </summary>
      
          <div class="" id="details-content-0" aria-hidden="false" style="padding-left:1em;display:block;border-left:6px solid #ccc">

            
             <div style="float:left;margin-top:1em" id="radiocb">
              <fieldset class="inline" style="position: relative;top:-3px">

                <label for="sex-radio-group"><strong>Sex</strong></label>

                <br clear="all">


                <div class="multiple-choice">
                  <input id="radio-m" type="radio" name="sex-radio-group" value="male">
                  <label for="radio-m" >Male</label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-f" type="radio" name="sex-radio-group" value="female">
                  <label for="radio-f" >Female</label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-o" type="radio" name="sex-radio-group" value="other">
                  <label for="radio-o" >Other</label>
                </div>

              </fieldset>

              <br clear="all">

            </div>




              <fieldset class="form-group" style="padding-top: 1em">
                <legend class="visuallyhidden">Patient's age</legend>
                <div class="form-text">

                  <div class="form-group form-group-org">

                    <label for="age"><strong>Age</strong></label>

                    <input class="form-control" name="age" type="number" id="age" size="3" maxlength="3" style="width:5em;padding: 8px">
                  </div>

                  <br clear="all">

                </div>
              </fieldset>




              <div>
                

                <br clear="all">

                <div id="service-picker-box" class="picker-box">

                  <label class="form-label" for="service-picker">

                    <p style="margin: 0.5em 0 0 0;">
                      <strong>Search for GP</strong>
                    </p>
                    
                    <span class="picker-form-hint" style="display:inline-block;margin:0.4em 0">
                    Search by name, or address
                      
                    </span>
                  </label>

                  <select id="gp-picker">
                  <option value="" selected="default"></option>
                            
                  <option value="000">
                  Adelaide Street Surgery - 118 Adelaide Street, Blackpool, Lancashire, FY1 4LN</option>

                  <option value="000">
                  Bloomfield Medical Centre, 118-120 Bloomfield Road, Blackpool, Lancashire, FY1 6JW</option>

                  <option value="000">
                  Elizabeth Street Surgery, 61 Elizabeth Street, Blackpool, Lancashire, FY1 3JG</option>

                  <option value="000">
                  Gorton Medical Centre - Gorton Street, Blackpool, FY1 3HP</option>

                  <option value="000">
                  South King Street Medical Centre - The Medical Centre, 25 South King Street, Blackpool, Lancashire, FY1 4NF</option>

                  <option value="000">
                  St Pauls Medical Centre - St Pauls Medical Centre, Dickson Road, Blackpool, Lancashire, FY1 2HH</option>

                  <option value="000">
                  Ashfield Medical Centre - Moor Pk Hlth/Leisure Ctr, Bristol Avenue, Blackpool, Lancashire, FY2 0JG</option>

                  <option value="000">
                  Dr Furniss'S Surgery - Moor Park Hlth & Leisure, Bristol Avenue, Bispham, Blackpool, Lancashire, FY2 0JG</option>

                  <option value="000">Glenroyd Medical Centre - Moor Park Hlth & Leis Ctr, Bristol Avenue, Bispham, Blackpool, Lancashire, FY2 0JG</option>

                  </select>

                  <script type="text/javascript">
                element = document.querySelector('#gp-picker')
                accessibleAutocomplete.enhanceSelectElement({
                  selectElement: element,
                  minLength: 3,
                  displayMenu: 'overlay',
                })
                  </script>

                  <br clear="all">


                </div><!-- end picker box -->

              </div>





          </div>


        </details>
      </div>




      <div>
        <div class="form-group">

          <a class="button" href="search-results" role="button">Continue</a>
        
        </div>

        <!-- - - - - - <div>
          <a class="back-arrow" href="start">Previous step</a>
        </div> - - - - there is no previous step -->

        <br clear="all">

      </div>



    

    </div><!-- end column -->

    





    <div class="column-third">
      
      &nbsp;

    </div><!-- end column -->


	</div><!-- end a grid row -->


</form>
</main>






{% endblock %}


