{% extends "layout-simple.html" %}

{% block page_title %}
  A NHS.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">



 <h2 class="heading-large">
        Sketches - grouped search results
      </h2>

      <p>
        <img src="/public/images/search-results-inset-postcode.png" width="100%">

        <img src="/public/images/search-results-connected-postcode.png" width="100%">

        <img src="/public/images/search-results-connected2-postcode.png" width="100%">

        <img src="/public/images/search-results-connected3-postcode.png" width="100%">

        <img src="/public/images/search-results-organised-ods-services.png" width="100%">

        <img src="/public/images/search-postcode-nested-twins.png" width="100%">

        <img src="/public/images/search-postcode-nested-stiped2.png" width="100%">


    </div>
  </div>
</main>

{% endblock %}


