{% extends "layout-simple.html" %}

{% block page_title %}
  A NHS.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge" style>
        NHS A2SI - Design
        <span class="heading-secondary"></span>
      </h1>


      

      <h2 class="heading-large">
        Prototypes
      </h2>

      <p>Newest</p>
       <ul class="list list-bullet">
        <li class="list-bullet" style="margin-bottom: 1em"><a href="start-2">Start page</a> for a revised flow based on grouped pharmacy services and using a @nhs.net email logins</li>

      </ul>


      <p>Newish</p>
       <ul class="list list-bullet">
        <li class="list-bullet" style="margin-bottom: 1em"><a href="choices-services-1">Many services</a>, taking a busy Pharmacy's services offered on NHS Choices and allowing view/selection</li>

        <li class="list-bullet"><a href="choices-times-1">Opening Times - Text</a>, complicated set of patchy availability times for services at a pharmacy</li>
        <li class="list-bullet"><a href="choices-times-2">Opening Times - Blocks</a>, simpler or more comlicated presentation of the same set of patchy times?</li>
        <li class="list-bullet"><a href="choices-times-3">Opening Times - Blocks &amp; Lines</a>, simpler or messier presentation of the same patchy opening times?</li>
                
      </ul>

<p style="margin-top: 2em">Older</p>
      <ul class="list list-bullet">
      <li class="list-bullet"><a href="start">Start page</a>, profile updater</li>
      <li class="list-bullet"><a href="user-reg">User registration</a>, form</li>
      <li class="list-bullet" style="padding-bottom: 1em"><a href="search-results">Search results</a>, select + shortlist</li>

      <li class="list-bullet"><a href="search-results-oneach">Search results</a>, closed service link on each</li>
      <li class="list-bullet"><a href="search-results-message">Search results</a>, directions for closed services</li>
      <li class="list-bullet"><a href="search-results-details">Search results</a>, details/summary for closed services + missing services</li>
       <li class="list-bullet" style="padding-bottom: 1em"><a href="search-results-details-2">Search results</a>, details/summary for closed services at bottom, missing services at top</li>

      <li class="list-bullet"><a href="review-services">Review the shortlist</a> of selected services, what needs changing, what's ok</li>
      <li class="list-bullet"><a href="review-services-2">Review the shortlist</a>, smaller text in detail of a service, tied to baseline, remove service checkbox</li>
       <li class="list-bullet" style="padding-bottom: 1em"><a href="review-services-3">Review the shortlist</a>, radio button Yes/No + remove service checkbox in review bar</li>

       <li class="list-bullet"><a href="edit-services">Editing a service</a>, individual fields for each day/time</li>
       <li class="list-bullet"><a href="edit-services-2">Editing a service</a>, times using a field/dropdown list combo box</li>
       <li class="list-bullet"><a href="edit-services-3">Editing a service</a>, times using a combo box + all those add/remove abilities. <strong>User can add a time eg. Lunch for Monday</strong></li>

       <li class="list-bullet"><a href="edit-services-3-lunchmonday">Editing a service</a> ...extra fields where the user has clicked 'add more hours' for Monday</li>

        <li class="list-bullet" style="padding-bottom: 1em"><a href="edit-services-4">Editing a service</a> using Opening Hours MTWTFSS box design</li>

        <li class="list-bullet"><a href="opening-hours-simple.html">Opening hours sketch</a> - simple week</li>
        <li class="list-bullet"><a href="opening-hours-complex.html">Opening hours sketch</a> - complicated week</li>
        <li class="list-bullet"><a href="edit-services-5.html">Experiment page</a> - various layouts of increasing complexity for the day/time opening hours</li>


      </ul>



    <hr>

      

    <h2 class="heading-medium">Older prototypes, pages</h2>

    <p>Looking at a <a href="mixmap3">page with double-input with detailed autocomplete</a> for the Investment Opportunities map navigator.</p>


    <h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
			<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
		</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


