{% extends "layout-simple.html" %}

{% block page_title %}
  A NHS.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge" style>
        NHS A2SI - Design
        <span class="heading-secondary"></span>
      </h1>


      

      <h2 class="heading-large">
        Prototypes
      </h2>

      <h3 class="heading-medium">Newest</h3>

      <p><a href="roadmap-05419">Roadmap at May 2019 + 2020</a> - in progress</p>

      <p><a href="roadmap-q419">Roadmap for Q4 2018/19 + 2020</a> - as live at <a href="https://uec-roadmap-2019.herokuapp.com/roadmap-q419">https://uec-roadmap-2019.herokuapp.com/roadmap-q419</a>
      	
      </p>

     




    <h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
			<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
		</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


