{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Sign in using your NHSmail address</h1>

      <p>This appears to be the first time you've used this login.</p>

      <p>We have sent a message to <strong>username@nhs.net</strong> to your address containing a validation code. Enter it below</p>



      <form class="form">




        <fieldset class="form-group">
          <legend class="visuallyhidden">Validation code</legend>
          <div class="form-text">


            <div class="form-group form-group-email">


              <label for="validation-code">8 character code from your email</label>
              <input class="form-control" name="validation-code" type="text" id="validation-code">

              <p class="form-hint">For example, ABC 123 XZ</p>

            </div>

          </div>
        </fieldset>


        <p>If your code doesn't arrive, make sure you have checked in the spam folder. Try searching your inbox for "interesting wordpair" to find it. Double check the address above.</p>

        <p>You can <a href="#">resend the email again</a>. If you still have not received your code please <a href="help">contact support for assistance</a>.</p>







        <br clear="all">


        <div class="form-group">
          <!--<input class="button" type="submit" value="Continue">-->

          <a class="button" href="user-reg-new" role="button">Continue</a>
        </div>

         


        <div>
            <a class="back-to-previous" href="javascript:history.back()">Previous step</a>
         </div>

      </form>


			
		</div>


    <div class="column-third">

      
      &nbsp;


    </div>


	</div>

</main>






{% endblock %}


