{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Sign in using your NHSmail email address</h1>

      <p>
        You should have an NHSmail address. It might look like one of these examples:
        <br>
        <span style="color:#444">pharmacy.fleetwood3@nhs.net</span> or <span style="color:#444">fef99.fleetwood@nhs.net</span> 
      </p>

      <p>You'll need access to your NHSmail address - we will send a code now to enter at the next step.</p>

      <p>If you don't have an NHSmail address, your organisation can join now - it doesn't take long, visit <a href="https://portal.nhs.net/Help/joiningnhsmail">https://portal.nhs.net/Help/joiningnhsmail</a>


      <form class="form" action="/nhslogin" method="get" >


        <fieldset class="form-group">
          <legend class="visuallyhidden">Email</legend>
          <div class="form-text">


            <div class="form-group form-group-email">


              <label for="contact-email">NHSmail address</label>
              <input class="form-control" name="nhsmail" type="text" id="nhsmail">

              <p class="form-hint">For example, Sarah.Morgan72@nhs.net</p>

            </div>

          </div>
        </fieldset>




        <p>If this is the first time you've used this login, we will send a validation code to your NHSmail address.</p>





        <div class="form-group">
          <input class="button" type="submit" value="Continue">

          <!--<a class="button" href="verify-email" role="button">Continue</a>-->
        </div>

         


        <div>
            <a class="back-to-previous" href="javascript:history.back()">Previous step</a>
         </div>

      </form>


			
		</div>


    <div class="column-third">

      
      &nbsp;


    </div>


	</div>

</main>






{% endblock %}


