{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-results">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Search results
        </div>

        <div id="fakephonetitle-c">
            <!--<a href="phone-finder-glossary">Glossary</a>-->
        </div>

        <br clear="all">

    </div>

    <div id="phone-results">
       <h2 class="phone-heading-results">NHS Oxford - Care Homes with Nursing - Fewcott Home</h2>

    </div>

    <div id="phone-result-content">


       <div class="profile-section opening-hours">
          <h3>Opening hours</h3>
          <dl>
            <dt>Monday</dt>
            <dd>Open 24 hours</dd>
            <dt>Tuesday</dt>
            <dd>Open 24 hours</dd>
            <dt>Wednesday</dt>
            <dd>Open 24 hours</dd>
            <dt>Thursday</dt>
            <dd>Open 24 hours</dd>
            <dt>Friday</dt>
            <dd>Open 24 hours</dd>
            <dt>Saturday</dt>
            <dd>Open 24 hours</dd>
            <dt>Sunday</dt>
            <dd>Open 24 hours</dd>
                
            <dt>Public Holidays</dt>
            <dd>Open 24 hours</dd>
          </dl>

          <br clear"all">
        </div>

        <div class="profile-section service-details" style="margin-bottom: 2em">
          <h3>Details</h3>

          <dl>
            <dt>Type of service</dt>
            <dd>Care Home</dd>

            <dt>Capacity</dt>
            <dd>Not specified</dd>

            <dt>Address</dt>
            <dd>FRITWELL ROAD<br>FEWCOTT<br>BISCESTER<br>OXFORDSHIRE<br>OX27 7NZ</dd>

            <dt style="">Telephone</dt>
            <dd><a href="tel:01869345501" class="phone-number">01869 345 501 <span class="phone-call">Call</span></a></dd>

            <br><br>


            <dt>Non-public telephone</dt>
            <dd><a href="tel:01869345502" class="phone-number">01869 345 502 <span class="phone-call">Call</span></a></dd>
          </dl>
        </div>


        <div class="profile-section service-information">
          <h3>Important Information</h3>

          <p>SERVICE OVERVIEW:</p>

          <p>This service deals with a whole range of health problems. They also provide health education, offer advice on smoking and diet, run clinics, give vaccinations and carry out simple surgical operations.</p>

          <p>Practices also include nurses, healthcare assistants, practice managers, receptionists and other staff. Practices also work closely with other healthcare professionals, such as health visitors, midwives, mental health services and social care services.</p>

          <p>REFERRAL CRITERIA:</p>

          <p>Contact the practice to make an appointment or advise patient to attend in person (if more convenient). Most practices have urgent appointments available each day, if patient has an urgent care need.</p>

          <p>FURTHER INFORMATION:</p>

          <p>Wheelchair accessible premises</p>
        </div>



        <div id="map-block">
          <details>

            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="margin-left: 2em">
              <span class="summary" >Show a map</span>
            </summary>
        
            <div class="" id="details-content-0" aria-hidden="false" style="display:block;">

              <div style="max-width:300px">
                
                <iframe width="390" height="420" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJJTcn0yzDdkgRobE0ieoazrM&destination=OX27+7NZ&key=AIzaSyB4HaYoJWHWt2snOCW7HsLN9FaWZ_LmfLY" allowfullscreen></iframe>
              </div>
            </div>

          </details>
        </div><!-- end map block -->


        <div class="profile-section actions">


          <div id="direct-patient">

              <details>

              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true">
                <a class="phone-primary-button direct-patient-button">Direct patient to this service</a>
              </summary>

              <div class="" id="details-content-0" aria-hidden="false" style="">
                <p><strong>Patient email address (optional)</strong><br>
                  For convenience you may send the public details for this service to your patient.
                </p>

                <input class="form-control" type="text" name="patient-email" placeholder="Patient email address" style="width: 300px">

                <button class="phone-secondary-button">Send email</button>

              </div>
            </details>


          </div>


          <div id="info-feedback" style="background-color: #ddd;padding: 0.5em 0 0.2em 1.1em;margin: 1.5em 0 0 -20px;width:433px">

            <span>Is something wrong with this information?</span>
            <details>

              <summary role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true" style="color: black">
                <span class="summary" style="color: black;text-decoration: none;font-weight: 600">Tell us about how to correct or improve it</span>
              </summary>
          
              <div class="" id="details-content-1" aria-hidden="false" style="">

                <div style="max-width:440px">

                  <textarea class="feedback" rows="3" cols="30" wrap="soft" maxlength="1000" placeholder="Tell us what's wrong" style="width:330px"></textarea>

                  <br clear="all">

                  <button class="phone-secondary-button">Send feedback</button>
                  
                  
                </div>
              </div>

            </details>
          </div><!-- end feedback -->

          <br clear="all">


          <div id="info-feedback" style="background-color: #ddd;padding: 0.5em 0 0.2em 1.1em;margin: 0 0 0 -20px;width:433px">

            <span>Referring a patient to this service?</span>
            <details>

              <summary role="button" aria-controls="details-content-2" tabindex="0" aria-expanded="true" style="color: black">
                <span class="summary" style="color: black;text-decoration: none;font-weight: 600">Tell us about success or failure</span>
              </summary>
          
              <div class="" id="details-content-2" aria-hidden="false" style="">

                <div style="max-width:440px">

                  <textarea class="feedback" rows="3" cols="30" wrap="soft" maxlength="1000" placeholder="Tell us what's wrong" style="width:330px"></textarea>

                  <br clear="all">

                  <button class="phone-secondary-button">Send feedback</button>
                  
                  
                </div>
              </div>

            </details>
          </div><!-- end feedback -->

        </div><!-- end actions -->

        <p></p>


        

   




    <div id="phone-browser-nav">
      <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

      <map name="ios-browser-navmap" id="ios-browser-navmap">
        <area alt="" title="back" href="phone-finder-results" shape="rect" coords="0,12,100,80" style="outline:none;" />
      </map>

    </div>


</div>

</main>





{% endblock %}


