{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        
        <div id="fakephonetitle-b" style="width:470px">
            Service Finder
        </div>

        

        <br clear="all">

    </div>


        <div id="searchtypepick" class="">

          <h2 class="phone-heading">Type of search</h2>

          <p class="phone-bodytext">You can search the Directory of Services in these different ways:</p>

          <div>
            <a href="phone-finder-filter-list"><button class="phonebutton phone-secondary">Service search</button></a>
             <p class="phone-hinttext">Find different types of services, near you or a postcode, that you can refer a patient.</p>
          </div>

          <div>
            <button class="phonebutton phone-secondary">Search by name</button>
            <p class="phone-hinttext">Find the details for a specific service, where you know the name.</p>
          </div>

          <div>
            <button class="phonebutton phone-secondary">Local area search</button>
            <p class="phone-hinttext">Search and browse all the services near you, no patient required.</p>
          </div>

        </div>

        

        <!--<div>
            <button class="phone-next">Next</button>
        </div>-->

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area  alt="" title="back" href="#" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>

<script type="text/javascript">
    var options = {
  valueNames: [ 'name', 'synonym' ]
};

var serviceList = new List('services', options);
</script>




{% endblock %}


