{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-result">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Time
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services" class="">

          <p class="phone-bodytext">How urgently does the patient need to be seen?</p>
          

          <ul class="list phone-list" style="padding-left: 6px">
            <li class="multiple-choice">
              <input id="time-s1" type="radio" name="time" value="1">

              <label for="time-s1" class="name">1 hour</label>
            </li>
            <li class="multiple-choice">
              <input id="time-s2" type="radio" name="time" value="2">

              <label for="time-s2" class="name">2 hours</label>
            </li>
            <li class="multiple-choice">
              <input id="time-s3" type="radio" checked name="time" value="6">

              <label for="time-s3" class="name">6 hours</label>
            </li>
            <li class="multiple-choice">
              <input id="time-s4" type="radio" name="time" value="12">

              <label for="time-s4" class="name">12 hours</label>
            </li>
            <li class="multiple-choice">
              <input id="time-s5" type="radio" name="time" value="24">

              <label for="time-s5" class="name">24 hours</label>
            </li>
            
          </ul>

        </div>


        <div>
            <a href="phone-finder-results"><button class="phonebutton phone-next">Search again</button></a>
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-results" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


