{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-time">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Location
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services" class="">

          <p class="phone-bodytext">Where do you want to look for services?</p>

          <p class="phone-bodytext"><a href="locate" id="locate">Use my current location</a></p>

          <div class="phoneinputbox" style="margin-bottom: 2em">
            <h2 class="phone-bodytext">or enter a postcode:</h2>
            <input class="postcode" placeholder="eg. OX27 7QR or EC1" />
          
            <p class="phone-bodytext" id="reported-place"></p>
          </div>

          <p class="phone-bodytext" style="margin-top: 3em">Searching all the services from a location may produce many results. </p>

          <p class="phone-bodytext">Use the <strong id="refine-fiddle" style="padding-left: 30px">Refine</strong> menu on the next page to filter the results by service type and availability.</p>
          

         


        </div>


        <div>
            <a href="phone-browse-results"><button class="phonebutton phone-next">Next</button></a>
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-search-type" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


