{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-browse-results">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Refine search
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


    <div id="services" class="">


      <p class="phone-bodytext"><a href="locate" id="locate">Use my current location</a></p>

      <div class="phoneinputbox" style="margin-bottom: 2em">
        <h2 class="phone-bodytext">or enter a postcode:</h2>
        <input class="postcode" placeholder="eg. OX27 7QR or EC1" />
      
        <p class="phone-bodytext" id="reported-place"></p>
      </div>

      <hr>

      <h2 class="heading-small" style="padding-left: 1.6em">Services</h2>

       <p class="phone-bodytext" style="font-size:19px;margin-top:0">
        <span>All service groups (6)</span>
        <span style="margin-left:3.1em;display:inline-block;text-align: right">
          <a href="phone-browse-filter-list" style="text-decoration:none;">
          Change selection

          <img src="/public/images/blue-right-arrow.svg" style="height:24px;position: relative;top:5px;left:5px">
          </a>
        </span>
      </p>

      <p class="phone-bodytext" style="font-size:19px;margin-top:0.5e8">
        <span>All service types (86)</span>
        <span style="margin-left:3.3em;display:inline-block;text-align: right">
          <a href="phone-browse-filter-list" style="text-decoration:none;">
          Change selection

          <img src="/public/images/blue-right-arrow.svg" style="height:24px;position: relative;top:5px;left:5px">
          </a>
        </span>
      </p>

      <hr>

      <h2 class="heading-small" style="padding-left: 1.6em">Opening</h2>

      <ul class="list phone-list" style="padding-left: 10px;font-size:18px">
        <li class="multiple-choice">
          <input id="services-s1" type="checkbox" name="services-s1" value="s1">

          <label for="services-s1" class="name">Show services open now</label>
        </li>

        <li class="multiple-choice">
          <input id="services-s2" type="checkbox" name="services-s2" value="s2">

          <label for="services-s2" class="name">Show services open today</label>
        </li>

        <li class="multiple-choice">
          <input id="services-s3" checked type="checkbox" name="services-s3" value="s3">

          <label for="services-s3" class="name">Any</label>
        </li>

      </ul>

     


    </div>


    <div>
        <a href="phone-browse-results"><button class="phonebutton phone-next">Refresh results</button></a>
    </div>

    <div id="phone-browser-nav">
      <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

      <map name="ios-browser-navmap" id="ios-browser-navmap">
        <area alt="" title="back" href="phone-browse-results" shape="rect" coords="0,12,100,80" style="outline:none;" />
      </map>

    </div>


</div>

</main>




{% endblock %}


