{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-filter-list">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Service Type
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services " class="">

          <div class="phonesearchbox">
            <input class="search " placeholder="Search" />
            </div>


          <ul class="list phone-list">
            <li><h3 class="glossary-title">Acute Assessment unit</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed nisi laoreet, volutpat dui at, auctor dui.</p>
            </li>
            <li><h3 class="glossary-title">Ambulance Service</h3>
              <p class="glossary-detail">Fusce et est sollicitudin, posuere sapien non, malesuada purus. Morbi malesuada massa eget quam bibendum efficitur.</p>
            </li>
            <li><h3 class="glossary-title">Care Home</h3>
              <p class="glossary-detail">Vestibulum consequat purus sit amet aliquam facilisis.</p>
            </li>
            <li><h3 class="glossary-title">Clinics</h3>
              <p class="glossary-detail">Mauris ac lectus dignissim, fringilla sem sit amet, convallis arcu. Proin eget tortor at neque dignissim placerat.</p>
            </li>
            <li><h3 class="glossary-title">Community Based Services</h3>
              <p class="glossary-detail">Maecenas eget neque mattis, posuere nisi eget, imperdiet massa.</p>
            </li>
            <li><h3 class="glossary-title">Community Hospital</h3>
              <p class="glossary-detail">Vivamus ullamcorper nibh finibus tellus tempus laoreet.</p>
            </li>
            <li><h3 class="glossary-title">Dental Emergency</h3>
              <p class="glossary-detail">Fusce id tortor vel purus efficitur fermentum vel at ex.</p>
            </li>
            <li><h3 class="glossary-title">Dental Services</h3>
              <p class="glossary-detail">Donec at nunc sit amet dolor suscipit rutrum sit amet ac lectus.</p>
            </li>
            <li><h3 class="glossary-title">Distance Selling Pharmacy (DSP)</h3>
              <p class="glossary-detail">Sed sodales nulla eget mauris finibus, semper ultrices nibh imperdiet.</p>
            </li>
            <li><h3 class="glossary-title">District/Community Nurse</h3>
              <p class="glossary-detail">Nunc a nibh pulvinar, aliquam ante vel, varius erat.</p>
            </li>
            <li><h3 class="glossary-title">Domiciliary Dentist</h3>
              <p class="glossary-detail">Cras pharetra massa vitae convallis feugiat.</p>
            </li>
            <li><h3 class="glossary-title">Domiciliary Optician</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Emergency Care Practitioner (ECP)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Emergency Department</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Eye Casualty</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">GP Choice</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">GP Extended Hours </h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">GP in hours</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">GP-Led UCC with ED</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">GP Out of Hours Provider (OOH)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Health Information</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Health Visitor</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Hyper-Acute Stroke Unit (HASU)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Integrated Urgent Care (IUC)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Clinical Assessment Service (CAS)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Intermediate Care</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Mental Health</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Midwifery</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Minor Eye Condition service (MECS)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Minor Injuries Unit (MIU)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Multi-Disciplinary Services</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">NHS111 Provider</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Optician</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Palliative Care</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Pharmacist</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Pharmacist Enhanced Service</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Pharmacist - Extended Hours</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Pharmacist Urgent Prescription</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Primary Care Practitioner (PCP)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Primary Percutaneous Coronary Intervention (PPCI)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Safeguarding</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Sexual Health</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Single Point of Access (SPoA)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Social Care</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Specialist Service</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Speciality Emergency Department (Spec ED)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Therapist</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Urgent Care Centre (UCC)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Voluntary agency</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li><h3 class="glossary-title">Walk In Centre (WIC)</h3>
              <p class="glossary-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>


          </ul>

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

        <!--<div>
            <button class="phonebutton phone-next">Next</button>
        </div>-->

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-filter-list" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>


<script type="text/javascript">
    var options = {
  valueNames: [ 'glossary-title', 'glossary-detail' ]
};

var serviceList = new List('services', options);
</script>



{% endblock %}


