{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-gp">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Patient info
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


    <div id="phone-age">
      <p class="phone-bodytext" style="margin-bottom: 12px">Patient age (optional)</p>

      <input class="form-control" name="age" type="number" id="age" size="3" maxlength="3" style="padding:8px;width:5em">
    </div>


    <div id="services" class="">

      <p class="phone-bodytext">Patient gender (optional)</p>
      

      <ul class="list phone-list" style="padding-left: 6px">
        <li class="multiple-choice">
          <input id="gender-s1" type="radio" name="gender" value="f">

          <label for="gender-s1" class="name">Female</label>
        </li>
        <li class="multiple-choice">
          <input id="gender-s2" type="radio" name="gender" value="m">

          <label for="gender-s2" class="name">Male</label>
        </li>
        <li class="multiple-choice">
          <input id="gender-s3" type="radio" name="gender" value="o">

          <label for="gender-s3" class="name">Other</label>
        </li>
   
        
      </ul>


      <br clear="all">

    </div>




      



        <div>
            <a href="phone-finder-results"><button class="phonebutton phone-next">Search now</button></a>
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-gp" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


