{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
  <div id="fakephonetitle">
    <div id="fakephonetitle-a" style="width: 94px">
        <a href="phone-finder-location">Back</a>
    </div>

    <div id="fakephonetitle-b" style="width: 230px;margin-left: 0">
        Patient information
    </div>

    <!--<div id="fakephonetitle-c">
        <a href="phone-finder-glossary">Glossary</a>
    </div>-->

    <br clear="all">

  </div><!-- end fakephone title block -->


  <!--<p class="phone-bodytext">Increase referrable services by adding GP information for the patient.</p>-->

  <p class="phone-bodytext"><strong>Patient information (optional)</strong></p>

  <div class="multiple-choice" id="nogp-question" style="position: relative;left:-30px">
    <input id="nogp-s1" type="checkbox" name="nogp" value="nogp">

    <label for="nogp-s1" class="name">GP not known, or no GP</label>

  </div>

  <br clear="all">



  <div id="services" class="" style="margin-top: 1.2em">

    <p class="phone-bodytext" style="margin-bottom: 0.6em">Find patient's GP by name, surgery, town<br>
    <span style="color: #666">Enter a minimum of 3 characters</span></p>


    
    <div id="search-for-gp">


      <div id="service-picker-box" class="picker-box">

        <label class="form-label" for="service-picker">

          <!--<p style="margin: 0.5em 0 0 0;">
            <strong>Search for GP</strong>
          </p>-->
          
          <!--<span class="picker-form-hint" style="display:inline-block;margin:0.4em 0">
          Search by name, or address
            
          </span>-->
        
        </label>

        <div id="gp-picker-container" style="position: relative;left: -30px">


          <select id="gp-picker">
            

            <option value="" selected="default"></option>

                    
            <option value="000">GP - Sussex - West Hoathly Surgery (Branch) - East Grinstead</option>
            <option value="000">GP - Ashmore Park Surgery, Griffiths Drive, Wolverhampton</option>
            <option value="000">GP - Barnsley, South Yorkshire (Grimethorpe Surgery)</option>
            <option value="000">GP - Barnsley, SYorkshire (The Cudworth Centre, branch of Grimethorpe Surgery)</option>
            <option value="000">GP - Bassetlaw (Misterton Group Practice, Gringley - Branch of Riverside HC)</option>
            <option value="000">GP - Berry Lane Medical Centre  - (Longridge)</option>
            <option value="000">GP - Fellview Healthcare Limited - (Griffin Close Surgery Branch) - Cumbria</option>
            <option value="000">GP - Griffins Brook Medical Centre (Bournville-Birmingham)</option>
            <option value="000">GP - Grimsby, NELincs (Birkwood Medical Centre)</option>
            <option value="000">GP - Grimsby, NELincs (Chantry Health Group)</option>
            <option value="000">GP - Grimsby, NELincs (Core Care Family Practice - Formerly Dr R Kumar)</option>
            <option value="000">GP - Grimsby, NELincs (Dr AP Kumar &amp; Partners - Stirling St)</option>
            <option value="000">GP - Grimsby, NELincs (Dr A Sinha)</option>
            <option value="000">GP - Grimsby, NELincs (Dr Babu - Branch)</option>
            <option value="000">GP - Grimsby, NELincs (Dr Babu - Weelsby View)</option>
            <option value="000">GP - Grimsby, NELincs (Dr Biswas-Saha)</option>
            <option value="000">GP - Grimsby, NELincs (Dr Chalmers and Meier - Weelsby View)</option>
            <option value="000">GP - Grimsby, NELincs (Dr R Mathews - Cromwell Rd Branch)</option>
            <option value="000">GP - Grimsby, NELincs (Dr R Mathews - Stirling Street)</option>
            <option value="000">GP - Grimsby, NELincs (Fieldhouse Medical Group)</option>
            <option value="000">GP - Grimsby, NELincs (Greenlands - Stirling St - formerly Dr Bedi)</option>
            <option value="000">GP - Grimsby, NELincs (Healing Health Centre)</option>
            <option value="000">GP - Grimsby, NELincs (Humberview Surgery)</option>
            <option value="000">GP - Grimsby, NELincs (Littlefield Practice - Dr Collett &amp; Partners)</option>
            <option value="000">GP - Grimsby, NELincs (Open Door Practice)</option>
            <option value="000">GP - Grimsby, NELincs (Pelham Medical Group)</option>
            <option value="000">GP - Grimsby, NELincs (Quayside Medical Centre)</option>
            <option value="000">GP - Grimsby, NELincs (Raj Medical Centre)</option>
            <option value="000">GP - Grimsby, NELincs (Roxton at Weelsby View) formerly Ashwood</option>
            <option value="000">GP - Grimsby, NELincs (Roxton Practice, Weelsby View - formerly Dr Jethwa)</option>
            <option value="000">GP - Grimsby, NELincs (Scartho Medical Centre)</option>
            <option value="000">GP - Grimsby, NELincs (Woodford Medical Centre)</option>
            <option value="000">GP - Grimston Medical Centre - Grimston, Norfolk</option>
            <option value="000">GP: Longrigg Medical Centre (GATDOC)</option>
            <option value="000">GP - Maghull Family Surgery (Formerly Dr Griffiths) - Westway - Maghull</option>
            <option value="000">GP - Medway - Stonecross and West Drive Srgries Chatham- Brnch</option>
            <option value="000">GP Practice: The Old Court House Surgery (Dr Grice &amp; Partners), Sutton, London</option>
            <option value="000">GP - Stonebridge Surgery Longridge - Preston</option>
            <option value="000">GP - Sussex - Grove House Surgery - Arthur Griffiths Clinic (branch)</option>
            <option value="000">GP - Sussex - Judges Close Surgery - East Grinstead</option>
            <option value="000">GP - Sussex - Moatfield Surgery - East Grinstead</option>
            <option value="000">GP - Sussex - Ship Street Surgery - East Grinstead</option>
          </select>



        </div><!-- end picker select container -->

      </div><!-- end picker box -->

    </div><!-- end search for gp -->

  </div><!-- end services -->

  



  <div>
    <a href="phone-finder-patient"><button class="phonebutton phone-next">Next</button></a>
  </div>

  <div id="phone-browser-nav">
    <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

    <map name="ios-browser-navmap" id="ios-browser-navmap">
      <area alt="" title="back" href="phone-finder-location" shape="rect" coords="0,12,100,80" style="outline:none;" />
    </map>

  </div>


</div><!-- end fakephone wrapper -->

</main>




{% endblock %}


