{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-search-type">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Service Type
        </div>

        <div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>

        <br clear="all">

    </div>


        <div id="services" class="">

          <div class="phonesearchbox">
            <input class="search" placeholder="Search" />
            </div>
          

          <ul class="list phone-list">
            <li class="multiple-choice">
              <input id="services-s1" type="checkbox" name="services-s1" value="s1">

              <label for="services-s1" class="name">Acute Assessment unit</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s2" type="checkbox" name="services-s2" value="s2">

              <label for="services-s2" class="name">Ambulance Service</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s3" type="checkbox" name="services-s3" value="s3">

              <label for="services-s3" class="name">Care Home</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s4" type="checkbox" name="services-s4" value="s4">

              <label for="services-s4" class="name">Clinics</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s5" type="checkbox" name="services-s5" value="s5">

              <label for="services-s5" class="name">Community Based Services</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s6" type="checkbox" name="services-s6" value="s6">

              <label for="services-s6" class="name">Community Hospital</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s7" type="checkbox" name="services-s7" value="s7">

              <label for="services-s7" class="name">Dental Emergency</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s8" type="checkbox" name="services-s8" value="s8">

              <label for="services-s8" class="name">Dental Services</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s9" type="checkbox" name="services-s9" value="s9">

              <label for="services-s9" class="name">Distance Selling Pharmacy (DSP)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s10" type="checkbox" name="services-s10" value="s10">

              <label for="services-s10" class="name">District/Community Nurse</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s11" type="checkbox" name="services-s11" value="s11">

              <label for="services-s11" class="name">Domiciliary Dentist</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s12" type="checkbox" name="services-s12" value="s12">

              <label for="services-s12" class="name">Domiciliary Optician</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s13" type="checkbox" name="services-s13" value="s13">

              <label for="services-s13" class="name">Emergency Care Practitioner (ECP)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s14" type="checkbox" name="services-s14" value="s14">

              <label for="services-s14" class="name">Emergency Department</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s15" type="checkbox" name="services-s15" value="s15">

              <label for="services-s15" class="name">Eye Casualty</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s16" type="checkbox" name="services-s16" value="s16">

              <label for="services-s16" class="name">GP Choice</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s17" type="checkbox" name="services-s17" value="s17">

              <label for="services-s17" class="name">GP Extended Hours </label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s18" type="checkbox" name="services-s18" value="s18">

              <label for="services-s18" class="name">GP in hours</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s19" type="checkbox" name="services-s19" value="s19">

              <label for="services-s19" class="name">GP-Led UCC with ED</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s20" type="checkbox" name="services-s20" value="s20">

              <label for="services-s20" class="name">GP Out of Hours Provider (OOH)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s21" type="checkbox" name="services-s21" value="s21">

              <label for="services-s21" class="name">Health Information</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s22" type="checkbox" name="services-s22" value="s22">

              <label for="services-s22" class="name">Health Visitor</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s23" type="checkbox" name="services-s23" value="s23">

              <label for="services-s23" class="name">Hyper-Acute Stroke Unit (HASU)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s24" type="checkbox" name="services-s24" value="s24">

              <label for="services-s24" class="name">Integrated Urgent Care (IUC)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s25" type="checkbox" name="services-s25" value="s25">

              <label for="services-s25" class="name">Clinical Assessment Service (CAS)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s26" type="checkbox" name="services-s26" value="s26">

              <label for="services-s26" class="name">Intermediate Care</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s27" type="checkbox" name="services-s27" value="s27">

              <label for="services-s27" class="name">Mental Health</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s28" type="checkbox" name="services-s28" value="s28">

              <label for="services-s28" class="name">Midwifery</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s29" type="checkbox" name="services-s29" value="s29">

              <label for="services-s29" class="name">Minor Eye Condition service (MECS)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s30" type="checkbox" name="services-s30" value="s30">

              <label for="services-s30" class="name">Minor Injuries Unit (MIU)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s31" type="checkbox" name="services-s31" value="s31">

              <label for="services-s31" class="name">Multi-Disciplinary Services</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s32" type="checkbox" name="services-s32" value="s32">

              <label for="services-s32" class="name">NHS111 Provider</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s33" type="checkbox" name="services-s33" value="s33">

              <label for="services-s33" class="name">Optician</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s34" type="checkbox" name="services-s34" value="s34">

              <label for="services-s34" class="name">Palliative Care</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s35" type="checkbox" name="services-s35" value="s35">

              <label for="services-s35" class="name">Pharmacist</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s36" type="checkbox" name="services-s36" value="s36">

              <label for="services-s36" class="name">Pharmacist Enhanced Service</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s37" type="checkbox" name="services-s37" value="s37">

              <label for="services-s37" class="name">Pharmacist - Extended Hours</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s38" type="checkbox" name="services-s38" value="s38">

              <label for="services-s38" class="name">Pharmacist Urgent Prescription</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s39" type="checkbox" name="services-s39" value="s39">

              <label for="services-s39" class="name">Primary Care Practitioner (PCP)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s40" type="checkbox" name="services-s40" value="s40">

              <label for="services-s40" class="name">Primary Percutaneous Coronary Intervention (PPCI)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s41" type="checkbox" name="services-s41" value="s41">

              <label for="services-s41" class="name">Safeguarding</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s42" type="checkbox" name="services-s42" value="s42">

              <label for="services-s42" class="name">Sexual Health</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s43" type="checkbox" name="services-s43" value="s43">

              <label for="services-s43" class="name">Single Point of Access (SPoA)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s44" type="checkbox" name="services-s44" value="s44">

              <label for="services-s44" class="name">Social Care</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s45" type="checkbox" name="services-s45" value="s45">

              <label for="services-s45" class="name">Specialist Service</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s46" type="checkbox" name="services-s46" value="s46">

              <label for="services-s46" class="name">Speciality Emergency Department (Spec ED)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s47" type="checkbox" name="services-s47" value="s47">

              <label for="services-s47" class="name">Therapist</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s48" type="checkbox" name="services-s48" value="s48">

              <label for="services-s48" class="name">Urgent Care Centre (UCC)</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s49" type="checkbox" name="services-s49" value="s49">

              <label for="services-s49" class="name">Voluntary agency</label>
              <p class="synonym"></p>
            </li>
            <li class="multiple-choice">
              <input id="services-s50" type="checkbox" name="services-50" value="s50">

              <label for="services-s50" class="name">Walk In Centre (WIC)</label>
              <p class="synonym">wound cuts stab bleeding</p>
            </li>


          </ul>

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

        <div>
            <a href="phone-finder-time"><button class="phonebutton phone-next">Next</button></a>
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-search-type" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>


<script type="text/javascript">
    var options = {
  valueNames: [ 'name', 'synonym' ]
};

var serviceList = new List('services', options);
</script>



{% endblock %}


