{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-results">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Location
        </div>

        <!--<div id="fakephonetitle-c">
            <a href="phone-finder-glossary">Glossary</a>
        </div>-->

        <br clear="all">

    </div>


        <div id="services" class="">

          <p class="phone-bodytext">Where should the patient be seen?</p>

          <p class="phone-bodytext"><a href="locate" id="locate">Use my current location</a></p>

          <div class="phoneinputbox" style="margin-bottom: 2em">
            <h2 class="phone-bodytext">or enter a postcode:</h2>
            <input class="postcode" placeholder="eg. OX27 7QR or EC1" />
          
            <p class="phone-bodytext" id="reported-place"></p>
          </div>

          <p class="phone-bodytext">How far to search?</p>
          

          <ul class="list phone-list" style="padding-left: 6px">
            <li class="multiple-choice">
              <input id="dist-s1" type="radio" name="dist" value="2">

              <label for="dist-s1" class="name">2 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist-s2" type="radio" name="dist" value="5">

              <label for="dist-s2" class="name">5 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist-s3" type="radio" name="dist" value="10">

              <label for="dist-s3" class="name">10 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist-s4" checked type="radio" name="dist" value="20">

              <label for="dist-s4" class="name">20 miles</label>
            </li>
            <li class="multiple-choice">
              <input id="dist-s5" type="radio" name="dist" value="40">

              <label for="dist-s5" class="name">40 miles</label>
            </li>
            <!--<li class="multiple-choice">
              <input id="dist-s6" type="radio" name="dist-s6" value="60">

              <label for="dist-s6" class="name">60 miles</label>
            </li>-->
            
          </ul>

        </div>


        <div>
            <a href="phone-finder-results"><button class="phonebutton phone-next">Search again</button></a>
        </div>

        <div id="phone-browser-nav">
          <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

          <map name="ios-browser-navmap" id="ios-browser-navmap">
            <area alt="" title="back" href="phone-finder-results" shape="rect" coords="0,12,100,80" style="outline:none;" />
          </map>

        </div>


</div>

</main>




{% endblock %}


