{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	
      <h1 class="heading-large">Review your holidays</h1>



      <p style="max-width: 660px">Please check all of the opening hours for your pharmacy. You will be able to make changes, if required, at the next step.</p>

  <div class="grid-row">
    <div class="column-half">

      <h3 class="heading-medium" style="margin: 0.365em 0 0.445em 0">Boots Pharmacy - Ivybridge</h3>



      <p class="review-day-p"><strong>Bank holidays</strong></p>
      
      <p class="review-day-p"><span class="review-bankhol">Good Friday</span><br>
      <span class="review-date-long">30 December 2018</span> <strong>09:00 – 12:00</strong></p>

      <p class="review-day-p"><span class="review-bankhol">Easter Monday</span><br>
      <span class="review-date-long">02 April 2018</span> <strong class="closed">Closed</strong></p>

      <p class="review-day-p"><span class="review-bankhol">Early May</span><br>
      <span class="review-date-long">07 May 2018</span> <strong class="closed">Closed</strong></p>

      <p class="review-day-p"><strong>Other dates</strong></p>

      <p class="review-day-p"><span class="review-date-long">30/03/2018</span> <strong class="closed">Closed</strong></p>

    </div>





    <div class="column-half">

      &nbsp;

    </div>
  </div><!-- end Grid row -->




      
      <div class="form-group" style="margin: 1em 0 1em 0;background-color: #edf3f8;border-bottom: 4px solid #0f6ecc;padding:0.5em 1em 0.8em 1em">

        <div class="review-message">
          <span>Are these hours complete and correct?</span>
        </div>

        <div style="float:left" id="radiocb">
          <fieldset class="inline" style="position: relative;top:-3px">

            <div class="multiple-choice">
              <input id="radio-yes" type="radio" name="radio-group" value="yes">
              <label for="radio-yes" >Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-no" type="radio" name="radio-group" value="no">
              <label for="radio-no" >No</label>
            </div>

          </fieldset>
        </div>

      </div>

    

     
      



            

            

        </div><!-- end result container -->







        <div id="buttons">



          <div class="form-group ">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button primarybutton" href="review-pharma-servicehours" role="button">Continue →</a>
          </div>


          <div class="secondarybutton">
            <a class="back-arrow" href="start">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>

<script type="text/javascript">
  
  function cbclick(e){
   e = e || event;
   var cb = e.srcElement || e.target;
   if (cb.type !== 'checkbox') {return true;}
   var cbxs = document.getElementById('radiocb').getElementsByTagName('input'), i=cbxs.length;
    while(i--) {
        if (cbxs[i].type && cbxs[i].type == 'checkbox' && cbxs[i].id !== cb.id) {
         cbxs[i].checked = false;
        }
    }
    // if the click should always 
</script>


{% endblock %}


