{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Review your services</h1>

      <p>Check the details for each of your services and choose Yes or No.</p>

      <p>If you have services missing, please <a href="#">click here</a>.</p>



        


      </div>


      <div class="column-third">
        &nbsp;
      </div>

    </div><!-- end Grid row -->




    <div class="grid-row">
      <div class="column-full" style="background-color:#fff7da;border-top: 6px solid #fdf2d6">
        <div class="review-services-header">
          <h3 class="heading-medium" style="margin: 0.3em 0 0.5em 0">Emergency Contraception and Chlamydia - Boots Pharmacy - Ivybridge</h3>
        </div>
      </div>
    </div>


    <div class="grid-row">
      <div class="column-third">
        

        <div class="review-services-column">

          <p><strong>ODS Code</strong><br>
          FEF88</p>

          <p><strong>Public phone</strong><br>
          01752896787</p>

          <p><strong>Address</strong><br>
          Boots Pharmacy, <br>
          2-3 Erme Terrace, <br>
          Station Road, <br>
          Ivybridge, <br>
          Devon</p>

          <p><strong>Postal Code</strong><br>
          PL21 0AL</p>

          <p><strong>Town</strong><br>
          Bourton-on-the-Water xyz</p>

        </div>
      </div><!-- end column third -->

      <div class="column-third">
        
        <div class="review-services-column">

          <p><strong>Opening hours</strong><br>
          <span class="review-day">Monday</span> <strong>09:00 – 17:30</strong></p>

          <p><span class="review-day">Tuesday</span> <strong>09:00 – 17:30</strong></p>

          <p><span class="review-day">Wednesday</span> <strong>09:00 – 13:00</strong><br>
          <span class="review-day">&nbsp;</span> <strong>14:00 – 18:30</strong></p>

          <p><span class="review-day">Thursday</span> <strong>09:00 – 13:00</strong><br>
         <span class="review-day">&nbsp;</span> <strong>14:00 – 18:30</strong></p>
          
          <p><span class="review-day">Friday</span> <strong>09:00 – 17:30</strong></p>

          <p><span class="review-day">Saturday</span> <strong class="closed">Closed</strong></p>

          <p><span class="review-day">Sunday</span> <strong class="closed">Closed</strong></p>

        </div>


        <div id="closed-service" style="width:400;position: absolute;">
          <div class="multiple-choice">
            <input id="radio-closed" type="checkbox" name="radio-group" value="closed">
            <label for="radio-closed">This service is no longer available</label>
          </div>



        </div>
      </div><!-- end column third -->

      <div class="column-third">

        <div class="review-services-column">

          <p><strong>Bank holidays</strong><br>
          <span class="review-bankhol">Mon, Christmas Day</span><br>
          <span class="review-date">25/12/2017</span> <strong class="closed">Closed</strong></p>

          <p><span class="review-bankhol">Tue, Boxing Day</span><br>
          <span class="review-date">26/12/2017</span> <strong>09:00 – 13:00</strong></p>

          <p><span class="review-bankhol">Mon, New Year’s Day</span><br>
          <span class="review-date">01/01/2018</span> <strong class="closed">Closed</strong></p>

          <p><strong>Other dates</strong><br>
          <span class="review-date">30/03/2018</span> <strong class="closed">Closed</strong></p>

          <p><span class="review-date">02/04/2018</span> <strong class="closed">Closed</strong></p>

        </div>
      </div><!-- end column third -->
    </div><!-- end Grid row -->

    <div class="grid-row">
      <div class="column-full" >

        <p><strong>Website</strong>
          <br>
          <a href="http://www.boots.com/en/Store-Locator/Boots-Ivybridge-Station-Road/">http://www.boots.com/en/Store-Locator/Boots-Ivybridge-Station-Road/</a></p>

      </div>
    </div><!-- end Grid row -->




    <div class="grid-row">
      <div class="column-full"  style="background-color:#edf3f8;border-bottom: 6px solid #0f6ecc;margin-bottom:2em">

          <div class="form-group" style="margin: 0 0 0.5em 0">

            <div style="float:left;padding: 1.05em 1em 0.4em 0">
              <span>Are these details complete and correct?</span>
            </div>

            <div style="float:left">

              <fieldset class="inline">

                <div class="multiple-choice">
                  <input id="radio-yes" type="checkbox" name="radio-group" value="yes">
                  <label for="radio-yes">Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="radio-no" type="checkbox" name="radio-group" value="no">
                  <label for="radio-no">No</label>
                </div>

              </fieldset>
            </div>

            <br clear="all">

      </div>
    </div><!-- end Grid row -->


      



            

            

        </div><!-- end result container -->







        <div id="buttons">



          <div class="form-group">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button" href="search-results" role="button">Continue →</a>
          </div>


          <div>
            <a class="back-arrow" href="start">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>


{% endblock %}


