{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

  <div class="grid-row">
    <div class="column-full" style="max-width: 690px">

  
      <h1 class="heading-medium">Review your service details for FEF88 Pharmacist - Boots  Pharmacy - Ivybridge</h1>
      <p style="color:#666;font-weight:300;font-size:1em">1 of 3 pharmacies</p>

      <div id="breadcrumb-bar">
        <ul class="breadcrumb-bar-items">
          <li><strong>FEF88</strong></li>
          <li>Details</li>
          <li>Address</li>
          <li id="current">Hours</li>
          <li>Holidays</li>
        </ul>

      </div>


      <p style="max-width: 660px">Please check all of the hours for your services. You can make changes to each one, or set them to be the same as the main service.</p>

      
      <h3 class="heading-small">Pharmacist - Boots Pharmacy - Ivybridge</h3>
      
      <div id="main-service-banner" style="margin-bottom: 2em">
        <details>

          <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="background-color: #fe6;display: block;padding: 0.3em 0.7em">
            <span class="summary" style="color: black;text-decoration: none;">This is the main service - </span>What does that mean?
          </summary>
      
          <div class="" id="details-content-0" aria-hidden="false" style="display:block;">

            <div style="max-width:630px;border-left:#ccc 6px solid;padding-left:1em">
              <p style="padding-top: 0.5em">We've grouped all your services that share the same ODS code, and tried to pick your main pharmacy service.</p>

              <p>If other services have the same details, address and hours you don't need to enter them individually – just tell us they are the same using the button.</p>
            </div>
          </div>

        </details>
      </div>




      <div class="edit-time-toggle-1">
        <table class="reviewtable" style="max-width:600px;width:100%">

        <thead>
          <th>Day </th>
          <th colspan="3" style="text-align: center;">Opening hours</th>
        </thead>

        <tbody>
          <tr>
            <td><div class="day">Monday</div></td>

            <td><div class="time">09:00</div></td>

            <td> <div class="to">to</div> </td>

            <td><div class="time">17:30</div></td>
          </tr>
          <tr>
            <td><div class="day">Tuesday</div></td>

            <td><div class="time">09:00</div></td>

            <td> <div class="to">to</div> </td>

            <td><div class="time">17:30</div></td>
          </tr>
          <tr>
            <td><div class="day">Wednesday</div></td>

            <td><div class="time">09:00</div></td>

            <td> <div class="to">to</div> </td>

            <td><div class="time">17:30</div></td>
          </tr>
          <tr>
            <td><div class="day">Thursday</div></td>

            <td><div class="time">09:00</div></td>

            <td> <div class="to">to</div> </td>

            <td><div class="time">17:30</div></td>
          </tr>
          <tr>
            <td><div class="day">Friday</div></td>

            <td><div class="time">09:00</div></td>

            <td> <div class="to">to</div> </td>

            <td><div class="time">17:30</div></td>
          </tr>
          <tr>
            <td><div class="day">Saturday</div></td>

            <td><div class="time" style="color: red">Closed</div></td>

            <td> </td>

            <td></td>
          </tr>
          <tr>
            <td style="border-bottom: none;"><div class="day">Sunday</div></td>

            <td style="border-bottom: none;"><div class="time" style="color: red">Closed</div></td>

            <td style="border-bottom: none;"> </td>

            <td style="border-bottom: none;"></td>
          </tr>
        </tbody>
        </table>

        <div style="margin-top: 1em">
        <a href="javascript:toggleDiv('edit-time-toggle-1');" class="button secondary-button"><strong>⇧</strong> Make changes to these hours</a>
        </div>

      </div>

      <div style="display:none;" class="edit-time-toggle-1">
        <table class="edit-time-table" style="max-width:600px;width:100%">

        <thead>
          <th style="border-bottom:none;">Day</th>
          <th style="border-bottom:none;">Open?</th>

          <th colspan="3" style="text-align: center;border-bottom:none;">Opening hours</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <div class="day" style="">Monday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Tuesday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Wednesday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Thursday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Friday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Saturday</div>
              <div class="add-hours"><a href="#" style="color: white">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" >
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style="">
              <input value="Closed" class="form-control" style="width: 5em;min-height: 38px;color:red">
              </div></td>

            <td> <div class="to" style="color: white ">to</div> </td>

            <td style="width: 6em"><div class="time">
              <!--<input value="17:30" class="form-control" style="width: 5em;min-height: 38px">-->
              
            </div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Sunday</div>
              <div class="add-hours"><a href="#" style="color: white">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" >
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style="">
              <input value="Closed" class="form-control" style="width: 5em;min-height: 38px;color:red">
              
            </div></td>

            <td> <div class="to" style="color: white">to</div> </td>

            <td style="width: 6em"><div class="time">
              <!--<input value="17:30" class="form-control" style="width: 5em;min-height: 38px">-->
                
              </div></td>
          </tr>

          
          
        </tbody>
        </table>


        <div style="margin-top: 2em">
          <a href="javascript:toggleDiv('edit-time-toggle-1');" class="button "><strong>⇧</strong> Save these changes </a>

          <a href="javascript:toggleDiv('edit-time-toggle-1');" style="text-decoration: none;position: relative;top:0.5em;left:2em">Don't save changes </a>
        </div>

      </div>

      <!--<p style="margin: 1em 0 3em 0"><button href="#" class="button secondary-button " for="textbox2">
      <strong>⇧</strong> Make changes to these hours</button></p>-->



      

      

      




      <!-- - - - - - - - - - - - - - - - -->


      <h3 class="heading-small" style="margin-top: 3em">Pharmacist - Boots NUMSAS Pharmacy - Ivybridge</h3>

      <p>This service uses the same hours as your <span style="padding:0.3em;background-color: #fe6">main service</span></p>

      <div class="edit-time-toggle-2">
        <div style="margin-top: 1em">
        <a href="javascript:toggleDiv('edit-time-toggle-2');" class="button secondary-button"><strong>⇧</strong> Set different hours for this service</a>
        </div>

      </div>

      <div style="display:none;" class="edit-time-toggle-2">
        <table class="edit-time-table" style="max-width:600px;width:100%">

        <thead>
          <th>Day</th>
          <th>Open?</th>

          <th colspan="3" style="text-align: center;">Opening hours</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <div class="day" style="">Monday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Tuesday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Wednesday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Thursday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Friday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Saturday</div>
              <div class="add-hours"><a href="#" style="color: white">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" >
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style="">
              <input value="Closed" class="form-control" style="width: 5em;min-height: 38px;color:red">
              </div></td>

            <td> <div class="to" style="color: white ">to</div> </td>

            <td style="width: 6em"><div class="time">
              <!--<input value="17:30" class="form-control" style="width: 5em;min-height: 38px">-->
              
            </div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Sunday</div>
              <div class="add-hours"><a href="#" style="color: white">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" >
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style="">
              <input value="Closed" class="form-control" style="width: 5em;min-height: 38px;color:red">
              
            </div></td>

            <td> <div class="to" style="color: white">to</div> </td>

            <td style="width: 6em"><div class="time">
              <!--<input value="17:30" class="form-control" style="width: 5em;min-height: 38px">-->
                
              </div></td>
          </tr>

          
          
        </tbody>
        </table>


        <div style="margin-top: 2em">
          <a href="javascript:toggleDiv('edit-time-toggle-2');" class="button "><strong>⇧</strong> Save these changes </a>

          <a href="javascript:toggleDiv('edit-time-toggle-2');" style="text-decoration: none;position: relative;top:0.5em;left:2em">Don't save changes </a>
        </div>


        <p style="margin-top: 2em"><button href="#" class="button secondary-button">
      <strong>⇧</strong> Use the same hours as your main service</button></p> 

      </div>



      <hr>


      <h3 class="heading-small">Pharmacist - Emergency Contraception and Chlamydia - Ivybridge</h3>

      <p>This service uses the same hours as your <span style="padding:0.3em;background-color: #fe6">main service</span></p>

      <div class="edit-time-toggle-3">
        <div style="margin-top: 1em">
        <a href="javascript:toggleDiv('edit-time-toggle-3');" class="button secondary-button"><strong>⇧</strong> Set different address for this service</a>
        </div>

      </div>

      <div style="display:none;" class="edit-time-toggle-3">
        <table class="edit-time-table" style="max-width:600px;width:100%">

        <thead>
          <th>Day</th>
          <th>Open?</th>

          <th colspan="3" style="text-align: center;">Opening hours</th>
        </thead>

        <tbody>
          <tr>
            <td>
              <div class="day" style="">Monday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Tuesday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Wednesday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Thursday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Friday</div>
              <div class="add-hours"><a href="#">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" checked="">
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style=""><input value="09:00" class="form-control" style="width: 5em;min-height: 38px"></div></td>

            <td> <div class="to" style="">to</div> </td>

            <td style="width: 6em"><div class="time"><input value="17:30" class="form-control" style="width: 5em;min-height: 38px"></div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Saturday</div>
              <div class="add-hours"><a href="#" style="color: white">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" >
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style="">
              <input value="Closed" class="form-control" style="width: 5em;min-height: 38px;color:red">
              </div></td>

            <td> <div class="to" style="color: white ">to</div> </td>

            <td style="width: 6em"><div class="time">
              <!--<input value="17:30" class="form-control" style="width: 5em;min-height: 38px">-->
              
            </div></td>
          </tr>

          <tr>
            <td>
              <div class="day" style="">Sunday</div>
              <div class="add-hours"><a href="#" style="color: white">+ Add more hours</a></div>
            </td>

            <td>
              <div id="openclosed" style="margin-top: -1.7em">
                <div class="multiple-choice">
                  <input id="radio-closed" type="checkbox" name="radio-group" value="openclosed" >
                  <label for="radio-closed"></label>
                </div>
              </div>
            </td>


            <td><div class="time" style="">
              <input value="Closed" class="form-control" style="width: 5em;min-height: 38px;color:red">
              
            </div></td>

            <td> <div class="to" style="color: white">to</div> </td>

            <td style="width: 6em"><div class="time">
              <!--<input value="17:30" class="form-control" style="width: 5em;min-height: 38px">-->
                
              </div></td>
          </tr>

          
          
        </tbody>
        </table>


        <div style="margin-top: 2em">
          <a href="javascript:toggleDiv('edit-time-toggle-3');" class="button "><strong>⇧</strong> Save these changes </a>

          <a href="javascript:toggleDiv('edit-time-toggle-3');" style="text-decoration: none;position: relative;top:0.5em;left:2em">Don't save changes </a>
        </div>


        <p style="margin-top: 2em"><button href="#" class="button secondary-button">
      <strong>⇧</strong> Use the same hours as your main service</button></p> 

      </div>


       


    </div><!-- end grid col -->

    
  </div><!-- end Grid row -->



     

     
      



            

            

        </div><!-- end result container -->





        <br clear="all">

        <div id="buttons" style="margin-top:2em">



          <div class="form-group ">
            <!--<input class="button" type="submit" value="Continue →">-->

            <a class="button" href="review-service-hols" role="button">Continue →</a>

          </div>


          <div class="secondarybutton">
             <a class="back-to-previous" href="javascript:history.back()">Previous step</a>
          </div>
        </div>

      </form>

    </div>


   


  </div>

</main>



{% endblock %}


