{% extends "minimal-layout.html" %}

{% block page_title %}
  Urgent and Emergency Care Roadmap
{% endblock %}

{% block content %}

<main  role="main" style="background-color: #eee">

	<div class="roadmap-column">
		<div class="roadmap-colhead">Available now</div>
		  
		<div class="roadmap-row row-111">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">NHS 111 online</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-1');" >×</a>
			</p>

			<p>35% of the population have access to NHS 111 Online</p>
		</div>

		<div class="roadmap-row row-a2si">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Appointments from 111 to many GP OOH &amp; UTCs <!--booked electronically--></div>
			<div class="roadmap-expander">
				<p class="moreinfo-button">
					<a href="javascript:toggleDiv('moreinfo-2');" >
						+
			    </a></p>

			</div>
		</div>

		<div class="moreinfo moreinfo-2" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-2');" >×</a>
			</p>
			
			<p>Succesfully increased adoption of proprietary booking solutions to over 90% between 111 and GP Our of Hours services, and to over 50% between 111 and existing Urgent Treatment Centres.</p>
		</div>

		<div class="roadmap-row row-eps">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Electronic Prescriptions</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-3" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-3');" >×</a>
			</p>

			<p>Lorem ipsum electronic prescriptions service norem dipsum</p>
		</div>



		<div class="roadmap-row row-a2si">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">DoS Profile Pharmacy Updater v2 Beta </div>
		<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-4" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-4');" >×</a>
			</p>

			<p>Succesfully made Profile Updater live enabling all pharmacy providers to keep their service information e.g. opening times, up to date on the DoS.</p>
		</div>



		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Pharmacies can self-review DoS information</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-5" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-5');" >×</a>
			</p>

			<p>62% Type 1 EDs and 62% of the 123  base line UTCs for December 18 have electroinc and manual access to  Mental Health Records. </p>

			<p>57% of Type 1 EDs and 64% of the 123 Baseline UTCs for December 18 have electronic or manual access to EOL Plans. </p>
		</div>



		


	</div><!-- column one -->



	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 2</div>

		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-b1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-b1');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-b1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-b1');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-b2');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b2" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-b2');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-b3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b3" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-b3');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-b4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b4" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-b4');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-b5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b5" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-b5');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>

	</div><!-- column two -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 3</div>


		<div class="roadmap-row row-ctp">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-c1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-c1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-c1');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-c2');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-c2" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-c2');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-c3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-c3" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-c3');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-c4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-c4" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-c4');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-c5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-c5" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-c5');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>

	</div><!-- column three -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 4</div>




		<div class="roadmap-row row-a2si">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-d1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-d1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-d1');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-d2');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-d2" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-d2');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-d3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-d3" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-d3');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-d4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-d4" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-d4');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-d5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-d5" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-d5');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>

	</div><!-- column four -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Future</div>


		


		<div class="roadmap-row row-uec">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-e1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-b1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-e1');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-e2');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-e2" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-e2');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-e3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-e3" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-e3');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-e4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-e4" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-e4');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-e5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-e5" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-e5');" >×</a>
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>

	</div><!-- column five -->


</main>

{% endblock %}


