{% extends "minimal-layout.html" %}

{% block page_title %}
  Urgent and Emergency Care Roadmap
{% endblock %}

{% block content %}

<main  role="main" style="background-color: #eee">

	<div class="roadmap-column">
		<div class="roadmap-colhead">Available now</div>
		  
		<div class="roadmap-row row-111">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">NHS 111 online</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-1" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-1');" >×</a>
			</p>

			<p>35% of the population have access to NHS 111 Online</p>
		</div>

		<div class="roadmap-row row-a2si">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Appointments from 111 to many GP OOH &amp; UTCs <!--booked electronically--></div>
			<div class="roadmap-expander">
				<p class="moreinfo-button">
					<a href="javascript:toggleDiv('moreinfo-2');" >
						+
			    </a></p>

			</div>
		</div>

		<div class="moreinfo moreinfo-2" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-2');" >×</a>
			</p>
			
			<p>Succesfully increased adoption of proprietary booking solutions to over 90% between 111 and GP Our of Hours services, and to over 50% between 111 and existing Urgent Treatment Centres.</p>
		</div>

		<div class="roadmap-row row-eps">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Electronic Prescriptions</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-3" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-3');" >×</a>
			</p>

			<p>Lorem ipsum electronic prescriptions service norem dipsum</p>
		</div>



		<div class="roadmap-row row-a2si">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">DoS Profile Pharmacy Updater v2 Beta </div>
		<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-4" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-4');" >×</a>
			</p>

			<p>Succesfully made Profile Updater live enabling all pharmacy providers to keep their service information e.g. opening times, up to date on the DoS.</p>
		</div>



		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Pharmacies can self-review DoS information</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-5" style="display: none;">
			<p class="close-button">
				<a href="javascript:toggleDiv('moreinfo-5');" >×</a>
			</p>

			<p>62% Type 1 EDs and 62% of the 123  base line UTCs for December 18 have electroinc and manual access to  Mental Health Records. </p>

			<p>57% of Type 1 EDs and 64% of the 123 Baseline UTCs for December 18 have electronic or manual access to EOL Plans. </p>
		</div>



		


	</div><!-- column one -->



	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 2</div>

	</div><!-- column two -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 3</div>

	</div><!-- column three -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 4</div>

	</div><!-- column four -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Future</div>

	</div><!-- column five -->


</main>

{% endblock %}


