{% extends "minimal-layout.html" %}

{% block page_title %}
  Urgent and Emergency Care Roadmap
{% endblock %}

{% block content %}

<main  role="main" style="background-color: #fff">

	<div id="roadmap-header">
		<h1 class="roadmap-h1">Urgent &amp; Emergency care: roadmap for digital health and care services</h1>

		<h2 class="roadmap-h2">From the Digital Transformation Portfolio</h2>

	</div>

	<div class="roadmap-column">
		<div class="roadmap-colhead">Available now</div>
		  
		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">NHS 111 online</div>

			<details>
				<summary class="summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span > more</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

        	<p>NHS 111 online allows people to use their smartphone or other digital devices to access the same service and advice offered by the 111 telephone service.</p>
          <p>The service will be available across England throughout 2018.</p>

        	<p><a href="http://111.nhs.uk">http://111.nhs.uk</a></p>

        </div>
      </details>
			
		</div>
		


		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">NHS 111 can book Out of Hours GP appointments</div>
      <details>
        <summary class="summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span > more</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Appointments can now be booked from NHS 111 into the majority of GP Out of Hours services and into many Urgent Treatment Centre services.</p>

        </div>
      </details>
			
		</div>

		

			


		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Electronic Prescriptions</div>
      <details>
        <summary class="summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span > more</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Supplier approval to route electronic prescriptions from NHS 111 and GP out of hours to pharmacies via EPS has begun.</p>
 
          <p><a href="https://digital.nhs.uk/services/electronic-prescription-service/electronic-prescription-service-in-integrated-urgent-care">https://digital.nhs.uk/services/…</a></p>

        </div>
      </details>
			
		</div>

		
			

		


		<div class="roadmap-row row-ctp">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Pharmacy profile updates</div>
      <details>
        <summary class="summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span > more</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Profile Updater is live in BETA enabling all pharmacy providers to keep their service information (e.g. opening times) up to date on the Directory of Services (DoS) </p>

          <p><a href="https://digital.nhs.uk/services/directory-of-services-dos">https://digital.nhs.uk/services/directory-of-services-dos</a></p>

        </div>
      </details>
		
		</div>

		


		



		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Access to Mental Health and End of Life records</div>
      <details>
        <summary class="summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span > more</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Clinicians in over 50% of urgent treatment centres and emergency departments have electronic or manual access to patients’ mental health records and end of life records</p>

        </div>
      </details> 
			
		</div>

		


			




		


	</div><!-- column one -->



	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 2</div>

		<div class="roadmap-row row-a2r">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		



		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		

		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		

	</div><!-- column two -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 3</div>


		<div class="roadmap-row row-ctp">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		

	</div><!-- column three -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Quarter 4</div>




		<div class="roadmap-row row-a2si">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		

		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		

		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		
	</div><!-- column four -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Future</div>


		


		<div class="roadmap-row row-uec">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		


		<div class="roadmap-row row-grey">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Title</div>
			
		</div>

		

	</div><!-- column five -->

	<br clear="all">


</main>

{% endblock %}


