{% extends "minimal-layout.html" %}

{% block page_title %}
  Urgent and Emergency Care Roadmap
{% endblock %}

{% block content %}

<main  role="main" style="background-color: #fff;margin-right: 10px">

	<div id="roadmap-header">
		<h1 class="roadmap-h1">Urgent &amp; Emergency care: roadmap for digital health and care services</h1>

		<h2 class="roadmap-h2">From the Digital Transformation Portfolio</h2>

	</div>

	<div class="roadmap-column">
		<div class="roadmap-colhead">Available now</div>



		  
		<div class="roadmap-row row-subloc icon-nhs-window">

			
			<details class="">
				<summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS 111 online</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

        	<p>NHS 111 online allows people to use their smartphone or other digital devices to access the same service and advice offered by the 111 telephone service.</p>
          <p>The service will be available across England throughout 2018.</p>

        	<p><a href="http://111.nhs.uk">http://111.nhs.uk</a></p>

        </div>
      </details>
			
		</div>




		<div class="roadmap-row row-subloc icon-nhs-window">


      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS 111 can book Out of Hours GP appointments</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Appointments can now be booked from NHS 111 into the majority of GP Out of Hours services and into many Urgent Treatment Centre services.</p>

        </div>
      </details>
			
		</div>

		

			


		<div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Electronic Prescriptions</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Supplier approval to route electronic prescriptions from NHS 111 and GP out of hours to pharmacies via EPS has begun.</p>
 
          <p><a href="https://digital.nhs.uk/services/electronic-prescription-service/electronic-prescription-service-in-integrated-urgent-care">https://digital.nhs.uk/services/…</a></p>

        </div>
      </details>
     	
		</div>

		
			

		


		<div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Pharmacy profile updates</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Profile Updater is live in BETA enabling all pharmacy providers to keep their service information (e.g. opening times) up to date on the Directory of Services (DoS) </p>

          <p><a href="https://digital.nhs.uk/services/directory-of-services-dos">https://digital.nhs.uk/services/directory-of-services-dos</a></p>

        </div>
      </details>
      
		</div>

		


		



		<div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Access to Mental Health and End of Life records</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Clinicians in over 50% of urgent treatment centres and emergency departments have electronic or manual access to patients’ mental health records and end of life records</p>

        </div>
      </details>
     	
		</div>
	
  </div><!-- END column one -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">Available now</div>

		<div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Updates to NHS Pathways to support IUC</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>The Clinical Decision Support System (CDSS) supports non-clinical and clinical triage in 111/999/OOH. It’s regularly updated to improve triage to better support users and this update includes the ability to fast track minor injuries down a bespoke triage route that reduces the call length and provides a better experience for patients</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Pathways Repeat Prescription Module</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Enable specific high volume Repeat Prescription calls to be managed by users trained in this module only. This increases availability of call handlers and clinicians in IUC, fast tracks appropriate calls to clinicians and also reduces provider training commitments</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Summary care records additional info</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Clinicians have access to Summary Care Records (SCR) for 15% of patients that have additional information in their SCR.</p>

          <p><a href="https://digital.nhs.uk/services/summary-care-records-scr">https://digital.nhs.uk/services/summary-care-records-scr</a></p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-natav icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Local services prioritised in DoS</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Commissioners can prioritise services that are locally-commissioned to ensure patients are directed to the most appropriate services, and importantly ensure they aren’t directed to services that aren’t able to help them.</p>
          <p><a href="https://digital.nhs.uk/services/directory-of-services-dos">https://digital.nhs.uk/services/directory-of-services-dos</a></p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Pathways training module: call back</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Learning module in the NHS Pathways training course created to enable specific high volume calls to be managed by users trained in this module only. This increases availability of call handlers and clinicians in IUC and also reduces provider training commitments</p>

        </div>
      </details>
      
    </div>

</div><!-- END column two -->




	<div class="roadmap-column">
		<div class="roadmap-colhead">July - Sept 2018</div>


		<div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Waiting Times -
private beta</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Live wait times from Emergency Departments and Urgent Treatment Centres to be made available to NHS 111 Health Advisors and Clinician Advisors, helping them provide patients with the most efficient and effective service.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Mental Health Pilot</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Adult patients in Birmingham with mental health issues managed through new triage process that better suits their needs and leads to a better outcome for them and the NHS.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Integration of patient record data</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Ability to integrate with patient record data and use this data to optimise triage efficiency whilst enhancing the outcome for the patient.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-alpha icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Draft Ambulance strategy</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Digital strategy available for review to inform and support the digitisation of information made available to Ambulance services</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-alpha icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>CDSS commercial integration pilot</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Ability to pilot the use of commercial CDSS systems integrating their functionality into UEC care settings</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-market icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Standards and specifications</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Publication of initial standards and specifications that will enable suppliers to develop products that integrate into the current UEC systems.</p>

        </div>
      </details>
      
    </div>

	</div><!-- END column three -->






	<div class="roadmap-column">
		<div class="roadmap-colhead">Oct - Dec 2018</div>


		<div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Service Finder tool available for clinicians (Private Beta)</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>A mobile responsive web application will be used by frontline Urgent and Emergency Care professionals to find appropriate services for their patients. It will include search methods to support the different ways in which professionals try to locate those services.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-natman icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS 111 Online live nationally</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>NHS 111 online is being made available across the country this year, connecting patients to local services for help when they need it.</p>

          <p><a href="http://111.nhs.uk">http://111.nhs.uk</a></p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-natman icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>UEC Data and Information Strategy </span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>The development of the UEC data strategy will articulate the future direction of data within UEC. This will help to drive evidence-based decision making and to share data, insight and intelligence more widely.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>111 Service update</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Changes made to the 111 Service following enhanced data analysis</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Pathways updated to support triage</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Clinical Decision Support System (CDSS) to support non-clinical and clinical triage in 111/999/OOH. This update contains a range of content changes including; revised content for patients who have fallen, further sepsis content, support for 999 services with a major incident feature and updates for IUC CAS products</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Support function for suppliers</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Establish a function that will support new and existing suppliers using UEC standards, providing them with all necessary documentation, specifications and processes to enable them to gain the necessary assurance and certification to utilise the standards.</p>

          <p><a href="https://developer.nhs.uk/library/interoperability/urgent-emergency-care/">https://developer.nhs.uk/library/…</a></p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Pathways Dental Module</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Dental Module enables specific high volume dental calls to be managed by users trained in this module only. This increases availability of call handlers and clinicians in IUC and also reduces provider training commitments.</p>

        </div>
      </details>
      
    </div>
		
	</div><!-- END column four -->






	<div class="roadmap-column">
		<div class="roadmap-colhead">2019 / 2020</div>

    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Pathways Senior Health Adviser Module</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Module for Senior Health Advisors, to enable Providers to better utilise staff in this extended role.</p>

        </div>
      </details>
      
    </div>




    <div class="roadmap-row row-subloc icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>New search APIs for Directory of Services</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Allowing system suppliers to perform more types of search against the DOS from within their applications</p>

        </div>
      </details>
      
    </div>




    <div class="roadmap-row row-natman icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS 111 can book UTC appointments</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Working with a range of existing UEC suppliers to develop standardised appointment booking solutions. NHS 111 professionals will be able to directly book patient appointments into Urgent Treatment Centres.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS 111 can book in-hours GP appointments </span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Working with a range of existing UEC suppliers to develop standardised appointment booking solutions. NHS 111 professionals will be able to directly book patient appointments into In Hours GPs.</p>

          <p><a href="http://111.nhs.uk">http://111.nhs.uk</a></p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-natav icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Supplier framework</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Framework to enable providers and commissioners to understand what approved Clinical Decision Support Systems are available.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-beta icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Live Wait Times available to NHS 111 (Public Beta)
</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Enabling live wait times from Emergency Departments and Urgent Treatment Centres to be made available to 111 Health Advisors and Clinical Advisors, helping them provide patients with the most efficient and effective service.</p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-natman icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>All appointments within UEC booked electronically</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Clinicians in all NHS 111 and Urgent Treatment Centre providers will be able to book appointments directly into Urgent Treatment Centres, GPs, and Emergency Dental services. </p>

        </div>
      </details>
      
    </div>



    <div class="roadmap-row row-natav icon-nhs-window">

      <details class="">
        <summary class="roadmap-block summary" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>All UEC services will have access to DOS</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Through a combination of a mobile responsive application and DoS APIs, UEC Professionals, Ambulance Trusts and Community Pharmacies will be able to gain access to the Directory of Service when they need it.</p>

        </div>
      </details>
      
    </div>

	</div><!-- END column five -->

	<br clear="all">


</main>

{% endblock %}


