{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Digital Optometry Roadmap
{% endblock %}

{% block content %}

<style type="text/css">
  .roadmap-column {
width: 19.5%;
float: left;
margin-left: 0.5%;
font-size: 0.8em;
}
</style>

<main  role="main" style="background-color: #fff;margin-right: 10px">

	<div id="roadmap-header">
    <div id="roadmap-title">
  		<h1 class="roadmap-h1">Optometry roadmap</h1>

  		<h2 class="roadmap-h2">Potential next steps and timeline</h2>
    </div>

    <div id="roadmap-key">
      <ul>
        <li class="key key-beta">Green item</li>

        <li class="key key-alpha">Pink item</li>

        <li class="key key-market">Red item</li>

        <li class="key key-natav">Indigo item</li>

        <li class="key key-natman">Cyan item<span style="font-weight:300" class="hide-on-small">, with note</span></li>

        <li class="key key-subloc">Orange item</li>

      </ul>

    </div>

    <br clear="all">

  </div><!-- END roadmap header -->



  




	<div class="roadmap-column roadmap-opto-column">
    <div class="metacolumn"><h3>Year 1</h3></div>
		<div class="roadmap-colhead"><h3>Oct-Dec</h3></div>



    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS.uk</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

		

  </div><!-- END column one -->




	










	<div class="roadmap-column roadmap-opto-column">
    <div class="ghostcolumn">&nbsp;</div>
		<div class="roadmap-colhead"><h3>Jan-Mar</h3></div>


    <div class="roadmap-row row-natman">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Questionaire</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Sed gravida sem pharetra, pretium erat ut, aliquet tortor. Maecenas et vestibulum magna.</p>

          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-subloc">


      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Mail access</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Curabitur laoreet, libero et commodo rhoncus, nunc elit posuere nibh, at congue neque mi vel nunc. </p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>DERS</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>


		<div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Identify</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Curabitur laoreet, libero et commodo rhoncus, nunc elit posuere nibh, at congue neque mi vel nunc. </p>

        </div>
      </details>
      
    </div>

    

	</div><!-- END column  -->






  <div class="roadmap-column roadmap-opto-column">
    <div class="metacolumn" style="width: 414.5%"><h3>Year 2</h3></div>
    <div class="roadmap-colhead"><h3>Apr-Jun</h3></div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>DoS and ITK enablement</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    

  </div><!-- END column three -->






  <div class="roadmap-column roadmap-opto-column">
    <div class="ghostcolumn">&nbsp;</div>
    <div class="roadmap-colhead"><h3>Jul-Sep</h3></div>


    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Automated BSA Exemption</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    
  </div><!-- END COLUMN -->






	<div class="roadmap-column roadmap-opto-column">
    <div class="ghostcolumn">&nbsp;</div>
		<div class="roadmap-colhead"><h3>Oct-Dec</h3></div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS Identity</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>SCRa Access</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>CPIS</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>


	</div><!-- END column five -->






  <div class="roadmap-column roadmap-opto-column">
    <div class="ghostcolumn">&nbsp;</div>
    <div class="roadmap-colhead"><h3>Jan-Mar</h3></div>

    <div class="roadmap-row row-market">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS App: Service Finder</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-market">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>NHS App: Appointments &amp; scheduling</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-beta">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Snomed CT</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

  

  </div><!-- END column six -->






  <div class="roadmap-column roadmap-opto-column">
    <div class="metacolumn" style="width: 309.5%"><h3>Further out</h3></div>
    <div class="roadmap-colhead"><h3>Y3 H1</h3></div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>DDR</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Record standards for sharing</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Online access to appointment booking</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>


  </div><!-- END column seven -->






  <div class="roadmap-column roadmap-opto-column">
    <div class="ghostcolumn">&nbsp;</div>
    <div class="roadmap-colhead"><h3>Y3 H2</h3></div>

    <div class="roadmap-row row-subloc">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Record location</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>



  </div><!-- END column eight -->






  <div class="roadmap-column roadmap-opto-column">
    <div class="ghostcolumn">&nbsp;</div>
    <div class="roadmap-colhead"><h3>...Year 10</h3></div>

    <div class="roadmap-row row-natman">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>AI</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-natman">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>AR</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-natman">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Predictive analysis</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

    <div class="roadmap-row row-natman">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Machine learning</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>



  </div><!-- END column nine -->


  <br clear="all">


  <div class="full-width-col">

    <div class="roadmap-row row-natman">

      <details class="">
        <summary class="roadmap-block summary-opto" role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span>Standards eg. DERS, NHS Number, SCR, Record Location, Records standards for sharing</span></summary>

        <div class="details-popup" id="details-content-0" aria-hidden="false">

          <p>Proin dictum efficitur ligula, nec malesuada lorem iaculis venenatis. Integer rhoncus sit amet quam eget ullamcorper.</p>
 
          <p><a href="http://nhs.uk">http://nhs.uk</a></p>

        </div>
      </details>
      
    </div>

  </div>










</main>

{% endblock %}


