{% extends "minimal-layout.html" %}

{% block page_title %}
  Urgent and Emergency Care Roadmap
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="roadmap-column" style="width: 325px;">
		<div class="roadmap-colhead">Available now</div>
		  
		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">NHS 111 online</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-1');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-1" style="display: none;">
			<p>35% of the population have access to NHS 111 Online</p>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Appointments from 111 to many GP OOH &amp; UTCs <!--booked electronically--></div>
			<div class="roadmap-expander">
				<p class="moreinfo-button">
					<a href="javascript:toggleDiv('moreinfo-2');" >
						+
			    </a></p>

			</div>
		</div>

		<div class="moreinfo moreinfo-2" style="display: none;">
			<p>Succesfully increased adoption of proprietary booking solutions to over 90% between 111 and GP Our of Hours services, and to over 50% between 111 and existing Urgent Treatment Centres.</p>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Electronic Prescriptions</div>
			<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-3');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-3" style="display: none;">
			<p>Lorem ipsum electronic prescriptions service norem dipsum</p>
		</div>



		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">DoS Profile Pharmacy Updater v2 Beta </div>
		<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-4');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-4" style="display: none;">
			<p>Succesfully made Profile Updater live enabling all pharmacy providers to keep their service information e.g. opening times, up to date on the DoS.</p>
		</div>



		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Pharmacies can self-review DoS information</div>
		<div class="roadmap-expander">
				<p class="moreinfo-button"><a href="javascript:toggleDiv('moreinfo-5');" >+
			    </a></p>
			</div>
		</div>

		<div class="moreinfo moreinfo-5" style="display: none;">
			<p>62% Type 1 EDs and 62% of the 123  base line UTCs for December 18 have electroinc and manual access to  Mental Health Records. </p>

			<p>57% of Type 1 EDs and 64% of the 123 Baseline UTCs for December 18 have electronic or manual access to EOL Plans. </p>
		</div>



		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Access to Mental Health and End of Life records.in Type 1 </div>
		
		</div>



		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Emergency Departments and Urgent Treatment Centres</div>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">End of Life acces to recoverds discovery workpackage</div>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Video Consultation Pilot</div>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Summary Care Records additional information available for 15% of population that have an SCR</div>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">Intelligent Data Tool on triage available</div>
		</div>

		<div class="roadmap-row">
			<div class="roadmap-icon">&nbsp;</div>
			<div class="roadmap-block">DoS Ranking Support for locally commissioned services</div>
		</div>

	</div>


</main>

{% endblock %}


