{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Find your services</h1>

      <p>Showing results for <strong>FEF88</strong>.
        You can search again using the search box below. If you can't find any of your services, <a href="#">click here</a>.</p>



        <fieldset class="form-group form-block" style="margin-bottom: 1em">
          <legend class="visuallyhidden">Search for services</legend>
          <div class="form-text">

            <label for="name-first">ODS code or Postcode</label>


            <div class="form-group form-group-name form-control-2-3" style="float:left;">
              <input class="form-control " id="name-first" name="name-full" type="text">
            </div>

             <div class="form-group form-control-1-4">
              <!--<input class="button secondary-button" type="submit" value="Search" >-->


              <a class="button secondary-button" href="search-results-details-2" role="button" style="background-color: #005eb8;padding:0.4em 2.6em 0.28em 2.6em;font-weight: 600;color:white">Search</a>
            </div>

          </div>
        </fieldset>




      </div>


      <div class="column-third">
        &nbsp;
      </div>

    </div><!-- end Grid row -->


    <div class="grid-row">
      <div class="column-full">






        <div id="buttons" style="margin-top:12em">

          

          <div>
            <a class="back-arrow" href="start">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>


{% endblock %}


