{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Find your pharmacies</h1>
<form action="search-for-more-ods-results.html" onsubmit="return false;">
      <fieldset class="form-group form-block" style="margin-bottom: 1em">

        <div class="form-text"><!-- search form -->

          <label for="name-first" style="font-weight: 600;">ODS code or Postcode</label>
          <br>


          <div class="form-group form-group-name form-control-1-3" style="float:left;margin-top:0.5em">

            <input class="form-control " id="fname" name="fname" type="text">
          </div>

          <div class="form-group form-control-1-4">

            <a class="button secondary-button" href="search-for-more-ods-results" role="button" style="background-color: #005eb8;padding:0.4em 2.6em 0.28em 2.6em;font-weight: 600;color:white;margin-top: 0.5em">Search</a>

          </div>

        </div><!-- end the search form -->

      </fieldset>
</form>
    </div><!-- end column 2/3rds -->

    <div class="column-third">

      <div class="demo-instruct">Try entering 'FEJ35' in the search box</div>
    
    </div><!-- end column 1/3rds -->

  </div><!-- end Grid row -->


  <div class="grid-row">
    <div class="column-full">

      <div id="tabs" class="two-tabs">

        <div id="tab" class="tab active-tab">
          <div class="label">Results</div>

          <div id="results-count">&nbsp;</div>
        </div>

        <div id="tab" class="tab">
          <div class="label"><a href="search-my-one">My pharmacies</a></div>

          <div id="selected-count">1</div>
        </div>

      </div><!-- end search tabs divs -->

      <br clear="all">
      <!-- end search tabs -->




      <div id="buttons" style="margin-top:8em">

        <div id="page-notes">


          <p>The next step will allow you to confirm your pharmacy details and the services offered</p>

        </div>


        <div class="form-group">
          <!--<input class="button" type="submit" value="Continue">-->

          <a class="button" href="review-pharma-one" role="button">Continue →</a>
        </div>

        <div>
          <a class="back-arrow" href="start">Previous step</a>
        </div>
      </div>

		</div>

	</div>

</main>



{% endblock %}


