{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

  <div style="text-align:right;color: #666;padding-top: 0.5em;margin-bottom: -2em">
    <span style="margin-right:1em">firstname.reallylonglastname12@nhs.net</span>
    <a href="#">Sign out</a>
  </div>


	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Your services</h1>

      <p>These are your pharmacies, check the list of services offered by each one.</p>




      </div>


      <div class="column-third">

        <div class="demo-instruct" style="margin-top:3em">You no longer offer the Emergency Contraception service at Ivybridge</div>

      </div>

    </div><!-- end Grid row -->


    <div class="grid-row">
      <div class="column-full">









        <div id="results-table" class="form-group ">

            <table>
              <tbody>
                <tr class="clickable-row">
                  <td data-locator="td_ods_code" style="width: 3em;vertical-align: top">
                    <p><strong>FEF88</strong></p>
                  </td>

                  <td data-locator="td_pharmacy_name" class="">

                    <p><strong>Boots Pharmacy - Ivybridge</strong></p>

                    <p>2-3 Erme Terrace, Station Road, Ivybridge, Devon, PL21 0AL</p>


                    


                    
<table class="details-table">

                <tr>
                  <td colspan="2">

                    <input type="checkbox" class="parent" data-group=".group1" id="FEF88-all" style="display: none" /> <label for="FEF88-all" style="color:#005eb8;">Select all</label>
                  </td>
                </tr>

                <tr>
                  <td>


                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEF88-a" name="FEF88-a" type="checkbox" value="FEF88-a" class="group1">
                        <label for="check-FEF88-a"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEF88-a">Pharmacist - Boots Pharmacy - Ivybridge</label></p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEF88-b" name="FEF88-c" type="checkbox" value="FEF88-b" class="group1">
                        <label for="check-FEF88-b"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEF88-b">Pharmacist - Boots NUMSAS Pharmacy - Ivybridge</label></p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEF88-c" name="FEF88-c" type="checkbox" value="FEF88-c" class="group1">
                        <label for="check-FEF88-c"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEF88-c">Pharmacist - Emergency Contraception and Chlamydia - Ivybridge</label></p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice" style="color:#c00">
                        <input id="check-FEF88-x" name="FEF88-x" type="checkbox" value="FEF88-x" >
                        <label for="check-FEF88-x"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEF88-x" style="color:#700">Services are missing from this pharmacy</label></p>
                  </td>
                </tr>
</table>
                          


                  </td>
                </tr>
                  


                <tr class="clickable-row">
                  <td data-locator="td_ods_code" style="width: 3em;vertical-align: top">
                    <p><strong>FEJ35</strong></p>
                  </td>

                  <td data-locator="td_pharmacy_name" class="">

                    <p><strong>Boots Pharmacy - Tavistock</strong></p>

                    <p>Boots Pharmacy, 5-6 Duke Street, Tavistock, Devon, PL19 0BA</p>


              <table class="details-table">

                <tr>
                  <td colspan="2">

                    <input type="checkbox" class="parent" data-group=".group2" id="FEJ35-all" style="display: none" /> <label for="FEJ35-all" style="color:#005eb8;">Select all</label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-a" name="FEJ35-a" type="checkbox" value="FEJ35-a" class="group2">
                        <label for="check-FEJ35-a"></label>
                      </div>
                    </div>
                  </td>
                  <td><p><label for="check-FEJ35-a">Pharmacist - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-b" name="FEJ35-b" type="checkbox" value="FEJ35-b" class="group2">
                        <label for="check-FEJ35-b"></label>
                      </div>
                    </div>
                  </td>
                  <td>

                    <p><label for="check-FEJ35-b">Emergency Contraception and Chlamydia - Boots Pharmacy - Tavistock</label></p>

                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-c" name="FEJ35-c" type="checkbox" value="FEJ35-c" class="group2">
                        <label for="check-FEJ35-c"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-c">Stop Smoking - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-d" name="FEJ35-d" type="checkbox" value="FEJ35-d" class="group2">
                        <label for="check-FEJ35-d"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-d">Needle Exchange - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-e" name="FEJ35-e" type="checkbox" value="FEJ35-e" class="group2">
                        <label for="check-FEJ35-e"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-e">Supervised Consumption - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-f" name="FEJ35-f" type="checkbox" value="FEJ35-f" class="group2">
                        <label for="check-FEJ35-f"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-f">Emergency Supply Medicines - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-g" name="FEJ35-g" type="checkbox" value="FEJ35-g" class="group2">
                        <label for="check-FEJ35-g"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-g">Minor Ailments - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-h" name="FEJ35-h" type="checkbox" value="FEJ35-h" class="group2">
                        <label for="check-FEJ35-h"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-h">Chlamydia Grab Box - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-i" name="FEJ35-i" type="checkbox" value="FEJ35-i" class="group2">
                        <label for="check-FEJ35-i"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-i">Medicines Use Review - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FEJ35-j" name="FEJ35-a" type="checkbox" value="FEJ35-j" class="group2">
                        <label for="check-FEJ35-j"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-j">New Medicines Scheme - Boots Pharmacy - Tavistock</label></p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice" style="color:#c00">
                        <input id="check-FEJ35-x" name="FEJ35-x" type="checkbox" value="FEJ35-x" >
                        <label for="check-FEJ35-x"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FEJ35-x" style="color:#700">Services are missing from this pharmacy</label></p>
                  </td>
                </tr>

              </table>
                          
                  </td>
                </tr>


                <tr class="clickable-row">
                  <td data-locator="td_ods_code" style="width: 3em;vertical-align: top">
                    <p><strong>FA079</strong></p>
                  </td>

                  <td data-locator="td_pharmacy_name" class="">

                    <p><strong>Boots Pharmacy - King Street Pharmacy - Plymouth</strong></p>

                    <p>King Street Pharmacy, 140 King Street, Plymouth, Devon, PL1 5JE</p>



              <table class="details-table">

                <tr>
                  <td colspan="2">

                    <input type="checkbox" class="parent" data-group=".group3" id="FA079-all" style="display: none" /> <label for="FA079-all" style="color:#005eb8;">Select all</label>
                  </td>
                </tr>

                      <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-a" name="FA079-a" type="checkbox" value="FA079-a" class="group3">
                        <label for="check-FA079-a"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-a">Pharmacist - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-b" name="FA079-b" type="checkbox" value="FA079-b" class="group3">
                        <label for="check-FA079-b"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-b">Supervised Consumption - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-c" name="FA079-c" type="checkbox" value="FA079-c" class="group3">
                        <label for="check-FA079-c"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-c">Chlamydia Screening - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-d" name="FA079-d" type="checkbox" value="FA079-d" class="group3">
                        <label for="check-FA079-d"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-d">Emergency Contraception - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-e" name="FA079-e" type="checkbox" value="FA079-e" class="group3">
                        <label for="check-FA079-e"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-e">Stop Smoking - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-f" name="FA079-f" type="checkbox" value="FA079-f" class="group3">
                        <label for="check-FA079-f"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-f">Emergency Supply Medicines - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-g" name="FA079-g" type="checkbox" value="FA079-g" class="group3">
                        <label for="check-FA079-g"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-g">Minor Ailments - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-h" name="FA079-h" type="checkbox" value="FA079-h" class="group3">
                        <label for="check-FA079-h"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-h">New Medicines Scheme - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice">
                        <input id="check-FA079-i" name="FA079-i" type="checkbox" value="FA079-i" class="group3">
                        <label for="check-FA079-i"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-i">Medicines Use Review - King Street Pharmacy - Plymouth</label></p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <div class="multiple-choice" style="color:#c00">
                        <input id="check-FA079-x" name="FA079-x" type="checkbox" value="FA079-x" >
                        <label for="check-FA079-x"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p><label for="check-FA079-x" style="color:#700">Services are missing from this pharmacy</label></p>
                  </td>
                </tr>

              </table>                         

                  </td>
                </tr>
              </tbody>
            </table>

        </div><!-- end table container -->






        




        





        <br clear="all">


        <div id="buttons">

          <div id="page-notes">

            <!-- supress the search for more <p style="margin-bottom: 2em"><a href="search-for-more"><strong>Search for more pharmacies</strong></a></p> -->

            <p>The next step will allow you to confirm your pharmacy address, and the opening hours</p>

          </div>

          
          <div class="form-group">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button" href="review-pharma-servicehours-onediff" role="button">Continue →</a>
          </div>


          <div>
             <a class="back-to-previous" href="javascript:history.back()">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>




{% endblock %}


