{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}



{% block content %}




<style type="text/css">
  label, div {
    display: block;
}

div.textbox {
    display: none;
}
</style>
<main id="content" role="main" style="padding-bottom: 0">

  <div style="text-align:right;color: #666;padding-top: 0.5em;margin-bottom: -2em">
    <span style="margin-right:1em">{{ data['nhsmail'] }}@nhs.net</span>
    <a href="#">Sign out</a>
  </div>


	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Review your services</h1>

      <p>These are the pharmacies you selected.</p>

      <p>
      Confirm the list of services offered by each one is correct, or tell us which ones need to be removed.
      </p>

      



      </div>


      <div class="column-third">

        <!--<div class="demo-instruct" style="margin-top:3em">Eg. You no longer offer the Emergency Contraception service at Tavistock, for example</div>-->

      </div>

    </div><!-- end Grid row -->


    <div class="grid-row">
      <div class="column-full">







        <div id="results-table" class="form-group ">


          <p><strong>FEF88</strong>
            <br>

          <strong>Boots Pharmacy - Ivybridge</strong>
            <br>
          2-3 Erme Terrace, Station Road, Ivybridge, Devon, PL21 0AL</p>



          <!--<input type="checkbox" class="parent" data-group=".group1" id="FEF88-all" style="display: none" /> <label for="FEF88-all" style="color:#005eb8;margin-left: 0.7em;">↓ Select all</label>-->


          <div style="padding-left: 1.5em;border-left: 1px solid #666;padding-bottom:1em">

            <br clear="all">


            <div><p style="margin-bottom: 0;margin-top: -1.6em">Pharmacist - Boots Pharmacy - Ivybridge</p>

              <div class="multiple-choice">
                <input id="check-FEF88-a1" name="FEF88-a1" type="checkbox" value="FEF88-a1" >
                <label for="check-FEF88-a1"></label>
              
                <label for="check-FEF88-a1">This service needs to be removed</label>

              </div>

              <div class="multiple-choice">
                <input id="check-FEF88-b1" name="FEF88-b1" type="checkbox" value="FEF88-b1">
                <label for="check-FEF88-b1"></label>
              
                <label for="check-FEF88-b1">This service doesn't belong to this pharmacy</label>

              </div>

            </div>


            <br clear="all">


            <div style="margin-top: 2.5em"><p style="margin-bottom: 0">Pharmacist - Boots NUMSAS Pharmacy - Ivybridge</p>

              <div class="multiple-choice">
                <input id="check-FEF88-a2" name="FEF88-a2" type="checkbox" value="FEF88-a2" >
                <label for="check-FEF88-a2"></label>
              
                <label for="check-FEF88-a2">This service is no longer offered</label>

              </div>

              <div class="multiple-choice">
                <input id="check-FEF88-b2" name="FEF88-b2" type="checkbox" value="FEF88-b2">
                <label for="check-FEF88-b2"></label>
              
                <label for="check-FEF88-b2">This service doesn't belong to this pharmacy</label>

              </div>

            </div>


            <br clear="all">


            <div style="margin-top: 2.5em"><p style="margin-bottom: 0">Pharmacist - Emergency Contraception and Chlamydia - Ivybridge</p>

              <div class="multiple-choice">
                <input id="check-FEF88-a2" name="FEF88-a2" type="checkbox" value="FEF88-a2" >
                <label for="check-FEF88-a2"></label>
              
                <label for="check-FEF88-a2">This service is no longer offered</label>

              </div>

              <div class="multiple-choice">
                <input id="check-FEF88-b2" name="FEF88-b2" type="checkbox" value="FEF88-b2">
                <label for="check-FEF88-b2"></label>
              
                <label for="check-FEF88-b2">This service doesn't belong to this pharmacy</label>

              </div>

            </div>


            <br clear="all">
          </div>





          <div class="form-group" style="padding-bottom: 2.5em;border-bottom:0.66em solid #ccc">
            <div class="multiple-choice" style="margin-top:1em;color:#c00">
              <input id="check-FEF88-x" name="FEF88-x" type="checkbox" value="FEF88-x" >
              <label for="check-FEF88-x"></label>
            
              <label for="check-FEF88-x" style="color:#700">Services I provide are not listed here</label>

            </div>

          </div>


            <p style="color:#231F20">Pharmacies in your area usually only profile the following services individually:  Pharmacy and NUMSAS Pharmacy</p>

            <p>Other services you may offer, such as Stopping Smoking or Emergency Contraception, are not profiled individually. Your main profile will include them.</p>



          <hr>

          <p style="margin-top: 1.05em"><strong>FEJ35</strong>
            <br>
            <strong>Boots Pharmacy - Tavistock</strong>
            <br>
            Boots Pharmacy, 5-6 Duke Street, Tavistock, Devon, PL19 0BA
          </p>




          <div style="padding-left: 1.5em;border-left: 1px solid #666">
            <p><label for="check-FEJ35-a">Pharmacist - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-b">Emergency Contraception and Chlamydia - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-c">Stop Smoking - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-d">Needle Exchange - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-e">Supervised Consumption - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-f">Emergency Supply Medicines - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-g">Minor Ailments - Boots Pharmacy - Tavistock</label></p>


            <p><label for="check-FEJ35-h">Chlamydia Grab Box - Boots Pharmacy - Tavistock</label></p>

                    
            <p><label for="check-FEJ35-i">Medicines Use Review - Boots Pharmacy - Tavistock</label></p>
    
          
            <p><label for="check-FEJ35-j">New Medicines Scheme - Boots Pharmacy - Tavistock</label></p>
          </div>
        
          
          <div class="form-group">
            <div class="multiple-choice" style="color:#c00">
              <input id="check-FEJ35-x" name="FEJ35-x" type="checkbox" value="FEJ35-x" >
              <label for="check-FEJ35-x"></label>
            
              <label for="check-FEJ35-x" style="color:#700">Services I provide are not listed here</label>

            </div>
          </div>
                  


                
          <p style="margin-top: 1.05em"><strong>FA079</strong></p>
       

          <p><strong>Boots Pharmacy - King Street Pharmacy - Plymouth</strong>
            <br>King Street Pharmacy, 140 King Street, Plymouth, Devon, PL1 5JE
          </p>


          <div style="padding-left: 1.5em;border-left: 1px solid #666">
            <p><label for="check-FA079-a">Pharmacist - King Street Pharmacy - Plymouth</label></p>
                 
                    
            <p><label for="check-FA079-b">Supervised Consumption - King Street Pharmacy - Plymouth</label></p>
          
            
            <p><label for="check-FA079-c">Chlamydia Screening - King Street Pharmacy - Plymouth</label></p>
          
            
            <p><label for="check-FA079-d">Emergency Contraception - King Street Pharmacy - Plymouth</label></p>
          
            
            <p><label for="check-FA079-e">Stop Smoking - King Street Pharmacy - Plymouth</label></p>
          
            <p><label for="check-FA079-f">Emergency Supply Medicines - King Street Pharmacy - Plymouth</label></p>


            <p><label for="check-FA079-g">Minor Ailments - King Street Pharmacy - Plymouth</label></p>


            <p><label for="check-FA079-h">New Medicines Scheme - King Street Pharmacy - Plymouth</label></p>


            <p><label for="check-FA079-i">Medicines Use Review - King Street Pharmacy - Plymouth</label></p>
          </div>


          <div class="form-group">
            <div class="multiple-choice" style="color:#c00">
              <input id="check-FA079-x" name="FA079-x" type="checkbox" value="FA079-x" >
              <label for="check-FA079-x"></label>
            
              <label for="check-FA079-x" style="color:#700">Services I provide are not listed here</label>

            </div>
          </div>
                  


        </div><!-- end table container -->






        




        





        <br clear="all">


        <div id="buttons">

          <div id="page-notes">

            <!-- supress the search for more <p style="margin-bottom: 2em"><a href="search-for-more"><strong>Search for more pharmacies</strong></a></p> -->

            <p>You can make changes to your details and hours at the next step.</p>

          </div>

          
          <div class="form-group">
            <!--<input class="button" type="submit" value="Continue">-->

            <a class="button" href="review-pharma-servicehours-onediff" role="button">Continue →</a>
          </div>


          <div>
             <a class="back-to-previous" href="javascript:history.back()">Previous step</a>
          </div>
        </div>

      </form>

		</div>


   


	</div>

</main>


{% endblock %}

