{% extends "responsive-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-two-thirds">

      <h1 class="heading-large">Pharmacy DoS Quality Payments</h1>

      <p>
      Use this service to check and update Directory of Service (DoS) records for your pharmacy.</p>

      <p>You can either:

      <ul class="list list-bullet">
      <li class="list-bullet">confirm that the details are correct</li>
      <li class="list-bullet">tell us what needs to be changed</li>
      </ul></p>

      <p>You will need to know:

      <ul class="list list-bullet">
      <li class="list-bullet">the ODS (F) code for your pharmacy</li>
      <li class="list-bullet">the address, postcode and telephone number</li>
      <li class="list-bullet">the opening times for each of your pharmacy services</li>
      </ul></p>

      <p>Many pharmacies will have multiple records on the DoS and you need to check all of them.</p>

      <p>We expect this to take approximately 5–10 minutes per service.</p>

       <p>
        <a class="button button-start" href="user-reg" role="button">Start now</a>
      </p>


			
		</div>


    <div class="column-third">

      <h2 class="heading-medium">Important dates</h2>
      
      <p><strong>Opens:</strong><br>
      2nd October 2017</p>

      <p><strong>Closes:</strong><br>
      24th November 2017</p>

      <h2 class="heading-medium">Contact</h2>
      <p><strong>DoS Profile Updater queries</strong><br>
      <a href="#">exeter.helpdesk@nhs.net</a><br>
      0300 303 4034</p>

      <p><strong>Pharmacy DoS Quality Payments</strong><br>
      <a href="#">england.communitypharmacy@nhs.net</a></p>


    </div>


	</div>

</main>






{% endblock %}


