{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Pharmancy DoS Quality Payments
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	<div class="grid-row">
		<div class="column-full">

      <p>example email to your NHS.net address</p>

      
      <a href="user-reg-new">
        <img src="/public/images/verify-email.png" width="50%" style="box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.75);margin-bottom: 1em">
      </a>

      <p>Or <a href="nhs-validation">click here to go to the code entry page</a> on the profile updater</p>




    </div>


	</div>

</main>






{% endblock %}


