{% extends "minimal-layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block content %}





<main id="content" role="main" style="padding-bottom: 0">

	
      <h1 class="heading-large">Results</h1>

      <h3 class="heading-medium" style="">Urgent and emergency care services waiting times</h3>



      <!--<p style="max-width: 660px">Please check all of the opening hours for your pharmacy. You will be able to make changes, if required, at the next step.</p>-->

  <div class="grid-row">
    <div class="column-full">

      


      <table class="waiting-time-choices-table">

        <thead style="background-color: #eee">
          <th valign="bottom" width=50%>North East London </th>
          <th valign="bottom">Current wait</th>
          <th valign="bottom">Number of people</th>
          <th valign="bottom">Last updated</th>
          
        </thead>

        <tbody>
          <tr>
            <td>
              <p><strong>Queens Hospital</strong>
                <br>Queens Hospital, Rom Valley Way, Romford, Essex, RM7 0AG</p>
            </td>
            <td>
              <p><strong>1 hour</strong> 54 minutes</p>
            </td>
            <td>
              <p><strong>19</strong> people waiting</p>
            </td>
            <td>
              <p>09:04 on 19 Feb 2018</p>
            </td>
          </tr>

          <tr>
            <td>
              <p><strong>King George Hospital</strong>
                <br>King George Hospital, Barley Lane, Ilford, Essex, IG3 8YB</p>
            </td>
            <td>
              <p><strong>2 hours</strong> 1 minutes</p>
            </td>
            <td>
              <p><strong>22</strong> people waiting</p>
            </td>
            <td>
              <p>09:04 on 19 Feb 2018</p>
            </td>
          </tr>

          <tr>
            <td>
              <p><strong>Whipps Cross Hospital</strong>
                <br>Whipps Cross Hospital, Whipps Cross Road, Leytonstone, E11 1NR</p>
            </td>
            <td colspan="2">
              <p>This service is currently closed</p>
            </td>
            <td>
              &nbsp;
            </td>
           
          </tr>

        </tbody>

      </table>

    </div>





  </div><!-- end Grid row -->





    

     
      



            

            

        </div><!-- end result container -->






        <br clear="all">


	</div>

</main>








{% endblock %}


